@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Niveles";
    Page.SubTitle = "Opciones del menú herramientas";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Por medio de esta opción se establecen los permisos de acceso para los usuarios. Se activan las condiciones y permisos de acceso deseadas para la realización de acciones dentro del programa, lo cual le proporciona mayor seguridad y confiabilidad al sistema GanSoft. <br />
                    Inicialmente todas las acciones se presentan desactivadas, es decir, no autorizadas. Se deben ir seleccionando aquellas que se consideren necesarias para el nuevo nivel. Para ello, en la sección denominada acciones, se encuentran todas las opciones contenidas en el menú de opciones de GanSoft. Deberá tildar cada una de las opciones a las que tendrá acceso el nivel que se encuentra registrando. Para modificar un nivel de acceso, se debe seleccionar en la lista y, el sistema le permitirá realizar los cambios necesarios. Para eliminar un registro, selecciónelo y haga clic en el botón de Eliminar
                    ubicado en la barra de botones, luego aparecerá una ventana de confirmación en la que deberá indicar si está seguro de eliminar el nivel seleccionado. <br />

                    Nota: El usuario inicial que trae el sistema GanSoft por defecto (ADMIN), tiene como nivel de acceso administrador, es decir, tiene todas las opciones autorizadas. <br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
