@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Opciones";
    Page.SubTitle = "Opciones del menú herramientas";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Esta opción permite al usuario adaptar el sistema de acuerdo a sus preferencias visuales.  La configuración establecida en esta opción es aplicada al usuario activo y se mantiene para los próximos inicios de sesión hasta que el usuario ajuste nuevamente sus preferencias. Cada usuario conserva sus preferencias de acuerdo a su configuración personal. Las opciones que pueden adaptarse son las siguientes:<br />

                    Entorno: permite personalizar la manera como GanSoft muestra las diferentes operaciones disponibles en el sistema. <br />
                    •	Idioma de la aplicación: español, inglés o portugués. <br />
                    •	Ventana inicial de la aplicación<br />
                    •	Estilo de organización de la aplicación<br />
                    •	Combinación de colores<br />
                    •	Imagen de fondo del sistema<br />
                    Barra de Herramientas: permite al usuario personalizar la barra de herramientas de forma tal de establecer los comandos que utiliza con mayor frecuencia. <br />

                    Accesibilidad: Permite establecer el modo de acceso a las ventanas de datos, de forma tal de facilitar la realización de las operaciones comunes. Ofrece las opciones de establecer el modo de acceso (tipo listado, detalles o búsqueda) para opciones de uso frecuente como árbol genealógico, datos generales, vientres, no vientres, reproductores o técnicos. <br />

                    Unidades: permite establecer la unidad de medida que el usuario desea utilizar para los casos de manejo de alturas, pesos corporales, pesajes de leche, ganancia de peso diaria. <br />

                    Respaldos: en esta pestaña el usuario puede configurar la creación de respaldos automáticos y manuales, definir la ruta de almacenamiento de los respaldos, indicar la cantidad y frecuencia de creación automática de respaldos, entre otras opciones. <br />

                    Comunicación: permite definir si desea mantener comunicación vía internet con la casa matriz y de esta forma conocer cuando esté disponible una actualización del programa, así como si desea visualizar la ventana de noticias al inicio del programa. <br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
