@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Hacienda";
    Page.SubTitle = "Opciones del menú principal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Este módulo le permite realizar todas las operaciones relacionadas con seleccionar la hacienda registrada con la que desea trabajar; además, muestra los Datos Generales, Plan Sanitario y la Configuración de cada una de las haciendas registradas en el sistema. Las opciones que se encuentran dentro de ésta categoría son las siguientes: <br />
                    <br />• Seleccionar <br />
                    • Datos Generales<br />
                    • Configuración <br />
                    • Inventario <br />
                    • Avisos <br />
                    • Planes Sanitarios <br />
                    • Códigos <br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
