@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Evento";
    Page.SubTitle = "Opciones del menú principal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Módulo diseñado exclusivamente para incluir los datos de la información diaria que se genera en la hacienda como es el caso de servicios, partos, etc. Esta opción permite notificar cada una de las actividades (relacionadas con los animales) que ocurren en la hacienda, por ejemplo, partos, secados, pesajes corporales, etc.<br />
                    Estas categorias se encuentran representadas en el menú de la siguiente manera:<br />
                    <br />• Servicios<br />
                    • Revisiones <br />
                    • Partos <br />
                    • Abortos <br />
                    • Celos sin Servicio <br />
                    • Lactancias Inducidas <br />
                    • Producción de Embriones <br />
                    • Pesajes de Leche <br />
                    • Secado / Destete <br />
                    • Pruebas de Mastitis <br />
                    • Pesos Corporales <br />
                    • Condiciones Corporales <br />
                    • Cambios de Locaciones <br />
                    • Notificación de Inventario <br />
                    • Clínicos <br />
                    • Identificadores Electrónicos <br />
                    • Hierros y Señales <br />
                    • Otros Cambios <br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
