@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Ayuda";
    Page.SubTitle = "Opciones del menú principal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En éste módulo es posible conocer un poco más acerca de GanSoft, como la fecha de última actualización de la base de datos, información relacionada con el diseño del sistema, soporte técnico, así como también es posible encontrar un manual que lo guiará en el manejo adecuado del programa. Las opciones que conforman éste módulo son las siguientes:<br />
                    <br />• Bienvenida <br />
                    • Contenido <br />
                    • Acerca de... <br />
                    • Buscar Actualizaciones <br />
                    • Enviar Comentarios <br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/ayuda.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/ayuda.jpg" alt="Menú ayuda" />
            @*<a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
                <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
                <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>*@
        </a>
    </div>
</div>
