@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Registro";
    Page.SubTitle = "Opciones del menú principal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    El módulo registros le permite al usuario realizar todas las transacciones relacionadas con el ingreso y manipulación de datos en del programa. Las opciones que se encuentran dentro de ésta categoría son las siguientes:<br />
                    <br />• Ingresar Animal <br />
                    • Eliminar Animales <br />
                    • Recuperar Animales <br />
                    • Trasladar Animales <br />
                    • Cambios de Estado y Sexo <br />
                    • Árbol Genealógico <br />
                    • Datos Generales <br />
                    • Reproductores <br />
                    • Vientres <br />
                    • No Vientres <br />
                    • Técnicos <br />
                    • Hierros y Señales <br />
                    • Movimientos de Invetario <br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/registro.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/registro.jpg" alt="Menú registro" />
            @*<a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
                <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
                <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>*@
        </a>
    </div>
</div>
