@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Principal";
    Page.SubTitle = "Opciones del menú principal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Por medio de esta categoría es posible tener acceso a una serie de reportes que contienen los datos requeridos con respecto a los animales registrados en la hacienda.

                    Algunos de estos reportes se encuentran diseñados de forma predeterminada para mostrar listados de animales que cumplan criterios previamente establecidos. Asimismo, desde ésta categoría es posible definir los parámetros a través de los cuales se desea generar un reporte, de forma tal que sea posible establecer las variables y datos que se adapten a sus necesidades.

                    Puede utilizar el Generador de Reportes para diseñar informes y así listar diferente información de los animales que se encuentren activos en los archivos.

                    Cabe destacar la importancia de los reportes para la toma de decisiones de los usuarios, ya que por medio de los resultados generados es posible realizar diferentes evaluaciones en su rebaño.

                    Esta categoría se encuentra representada en el menú principal de la siguiente manera:
                    <br />
                    <br />• Generador <br />
                    • Datos Generales <br />
                    • Árbol Genealógico <br />
                    • Reproductores <br />
                    • Vientres <br />
                    • No Vientres <br />
                    • Técnicos <br />
                    • Históricos: <br />
                        Reproducción <br />
                        Lactancias <br />
                        Pesajes de Leche <br />
                        Pruebas de Mastitis <br />
                        Clínica <br />
                        Pesos Corporales <br />
                        Cambios de condición Corporal <br />
                        Cambios de Locación <br />
                        Inventario <br />
                        Comentarios <br />
                        Movimientos <br />
                        Planes Sanitarios <br />
                    • Otros reportes: <br />
                        Descendientes <br />
                        Comportamiento Reproductivo
                        Análisis de Inventario
                        Pesajes de Últimos 12 meses
                        Cálculo anlimento concentrado
                        Códigos Varios
                        Formularios Varios
                    
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
