@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Estadística";
    Page.SubTitle = "Opciones del menú principal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Por medio de este módulo es posible calcular las estadísticas de producción, reproducción, crecimiento, así como también el cierre mensual/anual presentando la información histórica por medio de gráficas. Esta categoría se encuentra representada en el menú principal de la siguiente manera:<br />                    <br /> Archivo <br />
                    <br />• Producción <br />
                    • Reproducción <br />
                    • Crecimiento <br />
                    • Pesajes de Leche <br />
                    • Cierres <br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/estadistica.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/estadistica.jpg" alt="Menú estadisticas" />
            @*<a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
                <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
                <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>*@
        </a>
    </div>
</div>
