@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Herramientas";
    Page.SubTitle = "Opciones del menú principal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En este módulo es posible realizar el registro de usuarios, administrar los permisos de acceso, mantenimientos y auditorías, entre otras opciones. Las categorías contenidas en este módulo se indican a continuación:<br />
                    <br />• Opciones <br />
                    • Usuarios <br />
                    • Niveles <br />
                    • Mantenimiento <br />
                    • Auditoría <br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/herramientas.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/herramientas.jpg" alt="Menú herramientas" />
            @*<a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
                <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
                <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>*@
        </a>
    </div>
</div>
