@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Principal";
    Page.SubTitle = "Opciones del menú principal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Esta opción permite personalizar la forma de visualización de las ventanas activas en GanSoft. Debido a que el sistema es multiventana, se activa un menú adicional que presenta al usuario todas las opciones de visualización de las ventanas que se encuentran activas. Las opciones son las siguientes:<br />
                    •	Cascada: Presenta una ventana tras otra.<br />
                    •	Mosaico vertical: Permite visualizar todas las ventanas activas, organizadas automáticamente una al lado de la otra.<br />
                    •	Mosaico horizontal: Permite visualizar todas las ventanas activas, organizadas automáticamente una arriba de la otra.<br />
                    •	Cerrar Todo: Al seleccionar esta opción el sistema cierra automáticamente todas las ventanas activas, quedando abierto el menú principal del sistema.<br />

                    <br /> Adicionalmente, en esta opción se presentan cada una de las ventanas activas en el sistema, de forma tal de seleccionar por medio de este menú la ventana activa con la que desea trabajar.

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/ventana.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/ventana.jpg" alt="Menú ventanas" />
            @*<a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
                <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
                <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>*@
        </a>
    </div>
</div>
