@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Datos generales";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}
<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta ventana contiene los datos generales con los que fue registrada y personalizada la hacienda, además información de la distribución de su superficie con los valores en hectáreas.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Datosgenerales">Datos generales</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Datosgenerales">Datos generales</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Para tener acceso a la misma, diríjase a la opción Hacienda-Datos Generales El usuario puede modificar los valores correspondientes a las áreas de infraestructura, pastos, otros cultivos y sin cultivar, a medida que va ingresando los valores, automáticamente se actualizará el gráfico de distribución ajustándolo a los nuevos valores (podrá distinguir cada categoría de acuerdo al color que lo representa). Para ello, debe posicionarse sobre el cuadro de texto deseado, hacer clic sobre el mismo y proceder a escribir el número de hectáreas que conforman el área especificada.
                </p>
                <p>
                    Para que los cambios realizados sean guardados el usuario debe presionar el botón Aceptar y para salir sin guardar el botón Cancelar o la tecla Esc.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/datos_generales_1.jpg" class="thumbnail" data-lightbox="Datos generales" data-title="Datos generales">
                    <img class="img-responsive" src="~/images/captures/datos_generales_1.jpg" alt="Datos generales" />
                </a>
                <a href="~/images/captures/datos_generales.jpg" data-lightbox="Datos generales"></a>
            </div>
        </div>
    </div>
</article>
