@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Planes sanitarios";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Permite al usuario tener acceso a la programación de las vacunas, pruebas, baños y otras actividades relacionadas con el plan sanitario de la hacienda activa
        </p>
    </div>
    <div class="col-md-12">
        <ul>
            <li>
                <a href="#Planessanitarios">Planes Sanitarios</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Planessanitarios">Planes Sanitarios</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Esta ventana se encuentra dividida en secciones, distribuidas de la siguiente forma:
                    La sección superior presenta los planes, con los datos de los códigos, descripción, intervalo de aplicación, fecha de la próxima aplicación y los días faltantes o de Atraso (valores negativos), de los planes sanitarios. El usuario tiene la posibilidad de agregar, modificar y eliminar un plan sanitario, haciendo uso de los botones disponibles en la barra de menú.
                </p>
                <p>
                    En caso de que requiera agregar un plan sanitario, haga clic en el botón agregar ubicado en la barra de menú, esto activa tres casillas en la parte inferior de la sección:
                </p>
            </div>
            <div class="col-md-4 text-center">
                <a href="~/Areas/GanSoftPro/Content/img/captures/planes_sanitarios_1.jpg" class="thumnail" data-lightbox="Planes sanitarios" data-title="Menú planes sanitarios">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/planes_sanitarios_1.jpg" alt="Menú planes sanitarios" />
                </a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/planes_sanitarios_2.jpg" data-lightbox="Planes sanitarios" data-title="Ventana de planes sanitarios"></a>
            </div>
        </div>
        <h4>Código</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Representa la identificación del plan sanitario. Puede ser de tipo numérico o alfanumérico.
                </p>
            </div>
        </div>
        <h4>Descripción</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Se refiere al nombre o especificaciones correspondientes al plan sanitario.
                </p>
            </div>
        </div>
        <h4>Intervalo</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Permite definir el periodo de tiempo (en días) con el que se aplicará el plan.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <p>
                Una vez especificados los datos anteriormente definidos, haga clic en el botón guardar
                para registrar el plan, en caso de que no desee almacenar los cambios, haga clic en el botón cancelar.
                Si desea editar el plan sanitario que se encuentre seleccionado, deberá hacer clic en el botón Modificar (identificado por el símbolo de un lápiz), realice los cambios necesarios y luego presione el botón guardar.
                Por otro lado, la sección inferior denominada aplicaciones, contiene la historia, en orden descendente, de las aplicaciones del plan sanitario seleccionado en el conjunto superior.
                Mostrando la fecha de última aplicación, dosis empleada y una columna de Observaciones. Igualmente, presenta los botones que permiten al usuario agregar, modificar y eliminar una aplicación.
                En caso de que desee agregar una aplicación seleccione el plan sanitario que desea reportar, luego haga clic en el botón agregar aplicación, el cual activa tres casillas en el lado izquierdo del conjunto:
            </p>
        </div>
        <h4>Fecha</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Debe especificar el día, mes y año en el que aplicó el plan sanitario. Al hacer clic en la flecha situada del lado derecho del cuadro de texto, se desplegará un calendario por medio del cual podrá seleccionar la fecha de la aplicación del plan.
                </p>
            </div>
        </div>
        <h4>Dosis</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Permite definir la dosis empleada, por animal o por todo el rebaño tratado.
                </p>
            </div>
        </div>
        <h4>Observaciones</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    En caso de que lo desee, puede escribir algún comentario referente a esa aplicación.
                </p>
                <p>
                    Una vez especificados los datos definidos anteriormente, deberá hacer clic en el botón guardar para registrar la aplicación, en caso de que no desee almacenar los datos ingresados, presione el botón cancelar.
                    Para editar los datos de una aplicación específica, debe hacer clic sobre la misma, llevar a cabo los cambios necesarios y posteriormente presionar el botón Guardar para almacenar la aplicación, si no desea guardar los cambios, haga clic en el botón Cancelar.
                    Igualmente, en caso de requerir eliminar una aplicación, proceda a seleccionar la misma y presionar el botón Eliminar, se mostrará una pregunta de confirmación en la que deberá presionar el botón Sí si está seguro de eliminar la aplicación, de lo contrario haga clic en el botón no.
                </p>
            </div>
        </div>
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: Esta ventana cuenta además con la posibilidad de ordenar los registros tanto de manera ascendente como descendente. Para ello, deberá hacer clic en el encabezado correspondiente a la columna a través de la cual desea ordenar el listado, y por medio de un clic se establecerá el orden ascendente, al momento de hacer otro clic sobre el mismo encabezado, el orden se establecerá en forma descendente. Esto funciona tanto para la lista inferior, como para la superior.
            </div>
        </div>
    </div>
</article>