@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Seleccionar";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}
<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta ventana es visible si tiene más de una hacienda registrada en el programa, le permite seleccionar la hacienda con la que desea trabajar.
        </p>
        <div class="col-md-12">
            <ul class="index">
                <li>
                    <a href="#Seleccionar">Seleccionar</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="Seleccionar">Seleccionar</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Para realizar la selección haga clic sobre el nombre de la hacienda y luego clic en el icono de Seleccionar, también puede pulsar la tecla Enter luego de tener seleccionada la hacienda o hacer doble clic en el nombre de la misma.
                    También puede cambiar la hacienda activa desde la barra de menú en el combo de opciones de haciendas o en la barra de estado haciendo clic sobre la hacienda activa y seleccionando la hacienda con la que desea trabajar.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/seleccionar.jpg" class="thumbnail" data-lightbox="Seleccionar" data-title="Seleccionar">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/seleccionar.jpg" alt="Seleccionar" />
                </a>
            </div>
        </div>
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: Si usted solo posee una Hacienda dentro de GanSoft, entrará inmediatamente a ésta sin pasar por esta ventana. En caso de que requiera Agregar, Modificar o Eliminar Haciendas, debe comunicarse con su proveedor.
            </div>
        </div>
    </div>
</article>
