@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Datos generales";
    Page.SubTitle = "";
}

<article class="row">
    <div class="col-md-12">
        <p class="lead">
            En esta ventana el usuario tendrá acceso a los datos generales de cualquier animal de la hacienda (Reproductores, Vientres o No Vientres), con cualquier estatus (activo, inactivo o referencia).
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Datosgenerales">Datos generales</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Datosgenerales">Datos generales</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Esta ventana permite que el usuario pueda ver en forma individual los datos generales de un animal y adicionalmente podrá Modificar
                    la mayoría de estos. Podrá seleccionar la información que desea visualizar del animal seleccionado, estos datos se encuentran clasificados según las siguientes categorías:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/datos_generales_registros.jpg" class="thumbnail" data-lightbox="Datosgeneralesregistros" data-title="Menú datos generales">
                    <img class="img-responsive" src="~/images/captures/datos_generales_registros.jpg" alt="Menú datos generales" />
                </a>
                <a href="~/images/captures/datos_generales_registros_1.jpg" data-lightbox="Datosgeneralesregistros" data-title="Ventana de datos generales"></a>
            </div>
        </div>
        <div class="col-md-6">
            <ul>
                <li> Información General	</li>
                <li> Resumen: Información básica del animal. </li>
                <li> Generales: Información básica del animal. </li>
                <li> Descendientes: Detalles de la genealogía del animal. </li>
                <li> Estadísticas: Promedios estadísticos calculados al animal. </li>
                <li> Hierros: Señales asignadas al animal. </li>
                <li> Históricos comunes</li>
                <li> Vaqueras: Histórico de locaciones en las que ha estado el animal. </li>
                <li> Inventarios: Presenta el detalle de históricos de inventarios del animal. </li>
                <li> Movimientos: Detalla cada uno de los movimientos registrados al animal. </li>
                <li> Clínica: Presenta cada uno de los diagnósticos y tratamientos asignados al animal. </li>
                <li> Pesos: Histórico de pesos del animal. </li>
                <li> Condición corporal: Histórico de condiciones corporales del animal. </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li> Fotografías: Muestra todas las fotografías registradas al animal, indicando la foto activa (solo una, el resto son fotografías referenciales) </li>
                <li> Comentarios: Presenta el histórico de comentarios del animal. </li>
                <li> Históricos según categoría del animal (reproductores) </li>
                <li> Servicios: Presenta el detalle de cada uno de los servicios asociados con el reproductor seleccionado. </li>
                <li> Compras y ajustes: Muestra los eventos de tipo compra y ajuste positivo asociados con el reproductor seleccionado. </li>
                <li> Históricos según categoría del animal (vientres) </li>
                <li> Reproducción: Presenta el histórico de eventos de reproducción asociados con el animal. </li>
                <li> Lactancias: Muestra el detalle de las lactancias acumuladas y los pesajes de leche del animal. </li>
                <li> Mastitis: Detalla cada una de las pruebas de mastitis aplicadas al animal con sus respectivos resultados. </li>
            </ul>
        </div>
    </div>
</article>