@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Recuperar animales";
    Page.SubTitle = "";
}

<article class="row">
    <div class="col-md-12">
        <p class="lead">
            Por medio de esta opción el usuario podrá restaurar a un animal en estado inactivo
        </p>
        <div class="col-md-12">
            <ul class="index">
                <li>
                    <a href="#Recuperaranimales">Recuperar animales</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="Recuperaranimales">Recuperar animales</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    De esta forma el animal volverá a existir en la hacienda y será tomado en cuenta nuevamente en el inventario de la hacienda.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/recuperar_animales_1.jpg" class="thumbnail" data-lightbox="Recuperaranimales" data-title="Menú de Recuperación">
                    <img class="img-responsive" src="~/images/captures/recuperar_animales_1.jpg" alt="Recuperar un animal" />
                </a>
                <a href="~/images/captures/recuperar_animales_2.jpg" data-lightbox="Recuperaranimales" data-title="Ventana de Recuperación"></a>
            </div>
        </div>
    </div>
</article>