@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Finalizando la instalación";
    Page.SubTitle = "";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Una vez el programa de instalación finalice de instalar GanSoft y todos los componentes
                    necesarios, podrá ubicar en su escritorio el acceso directo GanSoft (Inicial) y en el menú
                    inicio una carpeta llamada SoftSupply > GanSoft desde donde podrá acceder al sistema.

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/GanSoft Pro_5.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/GanSoft Pro_5.jpg" alt="Distribucion" />
            <a href="~/images/captures/GanSoft Pro_6.jpg" data-lightbox="roadtrip">GanSoft Inicial</a>
    @*<a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
    <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>*@
        </a>
    </div>
</div>
