@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Instalando GanSoft";
    Page.SubTitle = "";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Una vez en la pantalla principal del programa de instalación de GanSoft, haga clic en la
                    opción en negrilla GanSoft para comenzar con el programa de instalación.

                    Para confirmar la instalación de GanSoft haga clic en el botón Instalar.
                    El programa de instalación de GanSoft comenzará la instalación en su equipo, este proceso
                    puede demorar unos minutos.

                    En el caso de que el instalador haya sido descargado desde nuestro sitio web, este,
                    descargará automáticamente desde Internet los componentes necesarios por GanSoft
                    antes de proceder con la instalación.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/GanSoft Pro_2.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/GanSoft Pro_2.jpg" alt="Distribucion" />
            <a href="~/images/captures/GanSoft Pro_3.jpg" data-lightbox="roadtrip">Progreso</a>
        </a>
    </div>
</div>
