@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Comienzo de la instalación";
    Page.SubTitle = "";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    El programa de instalación de GanSoft, puede ser descargado directamente desde nuestra
                    página web http://www.softsupply.com/, o instalado desde un medio externo de
                    almacenamiento (disco óptico o unidad USB).
                    En cualquiera de los casos, una vez iniciado el programa de instalación, se mostrará la
                    siguiente pantalla:                                      
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/GanSoft Pro_1.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/GanSoft Pro_1.jpg" alt="Instalador de GanSoft" />
            @*<a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
    <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
    <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>*@
        </a>
    </div>
</div>
