@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Enviar Comentarios";
    Page.SubTitle = "Opciones del menú ayuda";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Si el usuario posee conexión a Internet, por medio de esta opción podrá enviar un correo electrónico (utilizando el Outlook) a info@softsupply.com, para obtener soporte técnico, enviar comentarios, sugerencias o solicitar cualquier asesoría.                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
