@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contenido";
    Page.SubTitle = "Opciones del menú ayuda";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    En ésta opción es posible encontrar soporte acerca del manejo adecuado de las diferentes opciones que muestra el sistema GanSoft. Para tener acceso a ésta ventana, diríjase al menú Ayuda
                    opción Contenido
                    , se desplegará el manual de usuario desde el cual deberá hacer clic en la opción en la que requiere asistencia en el menú presentando en una estructura de tipo árbol situada en la parte izquierda de la ventana y de ésta forma tendrá acceso a la secuencia de pasos detallados que deberá seguir para ejecutar de manera adecuada cada una de las funciones que cumple el sistema. <br />

                    El manual ha sido estructurado de forma tal que sea sencilla la ubicación de las diferentes opciones que ofrece el sistema, las cuales se presentarán en la parte derecha de la ventana de acuerdo con la selección del usuario en el menú principal estructurado en forma de árbol. <br />

                    Adicionalmente, desde ésta opción encontrará información detallada en relación con los beneficios que ofrece el sistema, la plataforma empleada para su diseño, así como también los requerimientos mínimos para la instalación y óptimo funcionamiento de GanSoft. <br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/contenido.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/contenido.jpg" alt="Contenido" />
            <a href="~/images/captures/contenido_1.jpg" data-lightbox="roadtrip"></a>
        </a>
    </div>
</div>
