@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Cierres";
    Page.SubTitle = "Opciones del menú estadisticas";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Ésta ventana permite visualizar los cierres tanto mensuales como anuales del sistema. Para ello, debe seleccionar de las listas, el mes y el año que desea visualizar. El sistema efectúa automáticamente los cierres mensuales al culminar un mes e introducir datos del mes siguiente.<br />

                    Las variables resultantes del cálculo del cierre mensual se van archivando y configurando para constituir la historia de los cierres mensuales dando lugar a la posibilidad de imprimir la información de los cierres de fechas anteriores y también la posibilidad de ver el comportamiento, en forma gráfica, de cualquier variable de las calculadas en el cierre. <br />

                    Seleccione el mes y el año que desea observar de la lista desplegable. La ventana cuenta con 2 listas desplegables que permiten al usuario seleccionar la dimensión y variable a visualizar en la gráfica. <br />Igualmente, puede seleccionar ver la gráfica del comportamiento en el periodo de tiempo de meses y años de acuerdo a las opciones presentadas. <br />

                    También puede imprimir el detalle de los resultados del cierre seleccionado y haga clic en el botón imprimir ubicado en la barra de botones. Seguidamente aparecerá en pantalla una vista preliminar la cual puede imprimir, presionando el ícono de la impresora o si lo prefiere puede Exportar dicha información. <br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
