@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Inicio";
    Page.SubTitle = "";
}

<article class="row">
    <div class="col-md-12">
        <p class="lead">
            La primera vez que inicia GanSoft 7 se desplegará una ventana de bienvenida, que lo guiará a través de las diferentes opciones disponibles para comenzar a trabajar
            con el programa.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Inicio">Inicio</a>
            </li>
            <li>
                <a href="#Pestañatareas">Pestaña tareas</a>
            </li>
            <li>
                <a href="#Ajustarlaconfiguraciondelahacienda">Ajustar la configuración de la hacienda</a>
            </li>
            <li>
                <a href="#Pestañanoticias">Pestaña noticias</a>
            </li>
            <li>
                <a href="#Pestañaindicadores">Pestaña indicadores</a>
            </li>
            <li>
                <a href="#Pestañaavisos">Pestaña avisos</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Inicio">Inicio</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Estas se dividen de la siguiente forma:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/bienvenida.jpg" class="thumbnail" data-lightbox="Inicio" data-title="Menú inicio">
                    <img class="img-responsive" src="~/images/captures/bienvenida.jpg" alt="Menú inicio" />
                </a>
                <a href="~/images/captures/bienvenida_1.jpg" data-lightbox="Inicio" data-title="Ventana inicio"></a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="Pestañatareas">Pestaña tareas</h3>
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li> Tareas Iniciales                                                                                           </li>
                    <li> Realizar un paseo para conocer las nuevas características                                                  </li>
                    <li> Establecer los datos generales de la hacienda. Acceso directo  al menú Hacienda, opción Datos generales    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="Ajustarlaconfiguraciondelahacienda">Ajustar la configuración de la hacienda</h3>
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li>Tareas Comunes                                                                                                                                                                                  </li>
                    <li>Ver la lista de datos generales de los animales. Despliega la ventana de datos generales de animal, donde podrá hacer doble clic en un animal en específico para abrir la ficha del mismo.      </li>
                    <li>Ver los avisos, notificaciones y alertas. Despliega la ventana de avisos, donde se detallan todas las actividades pendientes que requieren su revisión.                                         </li>
                    <li>Tareas Frecuentes                                                                                                                                                                               </li>
                    <li>Mostrar el inventario de animales. Presenta el inventario general de animales de hacienda activa.                                                                                               </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="Pestañanoticias">Pestaña noticias</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    A través de esta pestaña usted podrá mantenerse informado acerca de las últimas actualizaciones del programa, así como los eventos, cursos, charlas y otros datos de interés publicados constantemente por SoftSupply, C.A. en su portal web.
                <p>
            </div>
        </div>
        <p>
            Luego de registrar información en su base de datos o al recuperar su respaldo con datos, se presentará la pantalla de bienvenida con el siguiente contenido:
        </p>
    </div>
    <div class="col-md-12">
        <h3 id="Pestañaindicadores">Pestaña indicadores</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Presenta detalles de la distribución por estado del animal, a través de un gráfico y de una tabla con los totales. Asimismo, detalla la producción
                    entre partos de los últimos diez (10) años igualmente de forma gráfica y con una tabla resumen.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="Pestañaavisos">Pestaña avisos</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Muestra los avisos de vencimiento pendientes de acuerdo a las tareas y días especificados en la configuración.
                </p>
            </div>
        </div>
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: Para poder visualizar las noticias, deberá contar con conexión a internet. Haga clic sobre el título de la noticia para ver los detalles y fotos de la misma.
            </div>
        </div>
    </div>
</article>