@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Configuración";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}
<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta opción permite al usuario adaptar el sistema de acuerdo a sus preferencias visuales.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Opciones">Opciones</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Opciones">Opciones</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    La configuración establecida en esta opción es aplicada al usuario activo y se mantiene para los próximos inicios de sesión hasta
                    que el usuario ajuste nuevamente sus preferencias. Cada usuario conserva sus preferencias de acuerdo a su configuración personal.
                    Las opciones que pueden adaptarse son las siguientes:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/opciones_herramientas.jpg" class="thumbnail" data-lightbox="Opciones" data-title="Menú opciones">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/opciones_herramientas.jpg" alt="Menú opciones" />
                </a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/opciones_herramientas_1.jpg" data-lightbox="Opciones" data-title="Ventana de opciones"></a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/opciones_herramientas_2.jpg" data-lightbox="roadtrip" data-title="Ventana de opciones"></a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/opciones_herramientas_3.jpg" data-lightbox="roadtrip" data-title="Ventana de opciones"></a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/opciones_herramientas_4.jpg" data-lightbox="roadtrip" data-title="Ventana de opciones"></a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/opciones_herramientas_5.jpg" data-lightbox="roadtrip" data-title="Ventana de opciones"></a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/opciones_herramientas_6.jpg" data-lightbox="roadtrip" data-title="Ventana de opciones"></a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Entorno: permite personalizar la manera como GanSoft muestra las diferentes operaciones disponibles en el sistema.
        </p>
        <ul>
            <li>Idioma de la aplicación: español, inglés o portugués.    </li>
            <li>Ventana inicial de la aplicación                         </li>
            <li>Estilo de organización de la aplicación                  </li>
            <li>Combinación de colores                                   </li>
            <li>Imagen de fondo del sistema                              </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h4>Barra de Herramientas</h4>
        <div class="row">
            <div class="col-md-12">
                permite al usuario personalizar la barra de herramientas de forma tal de establecer los comandos que utilizan con mayor frecuencia.
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Accesibilidad</h4>
        <div class="row">
            <div class="col-md-12">
                Permite establecer el modo de acceso a las ventanas de datos, de forma tal de facilitar la realización de las operaciones comunes. Ofrece las opciones de establecer el modo de acceso (tipo listado, detalles o búsqueda) para opciones de uso frecuente como árbol genealógico, datos generales, vientres, no vientres, reproductores o técnicos.
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Unidades</h4>
        <div class="row">
            <div class="col-md-12">
                permite establecer la unidad de medida que el usuario desea utilizar para los casos de manejo de alturas, pesos corporales, pesajes de leche, ganancia de peso diaria.
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Respaldos</h4>
        <div class="row">
            <div class="col-md-12">
                En esta pestaña el usuario puede configurar la creación de respaldos automáticos y manuales, definir la ruta de almacenamiento de los respaldos, indicar la cantidad y frecuencia de creación automática de respaldos, entre otras opciones.
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Comunicación</h4>
        <div class="row">
            <div class="col-md-12">
                Permite definir si desea mantener comunicación vía internet con la casa matriz y de esta forma conocer cuando esté disponible una actualización del programa, así como si desea visualizar la ventana de noticias al inicio del programa.
            </div>
        </div>
    </div>
</article>