@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Recuperar Animales";
    Page.SubTitle = "Opciones del menú registro";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Por medio de esta opción el usuario podrá restaurar a un animal en estado inactivo, es decir, activarlo nuevamente. De esta forma el animal volverá a existir en la hacienda y será tomado en cuenta nuevamente en el inventario de la hacienda.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/recuperar_animales_1.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/recuperar_animales_1.jpg" alt="Recuperar Animales" />
            <a href="~/images/captures/recuperar_animales_2.jpg" data-lightbox="roadtrip"></a>
        </a>
    </div>
</div>
