@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Vientres";
    Page.SubTitle = "Opciones del menú registro";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Esta ventana muestra los datos de los Vientres de la hacienda divididos en secciones debidamente clasificadas, y contiene un resumen de los datos productivos y reproductivos más relevantes. Además, permite al usuario visualizar de forma individual los siguientes datos del animal:
                </p>
                <ul>
                    <li>
                        Información General
                    </li>

                    <li>
                        Resumen: Información básica del animal.
                    </li>

                    <li>
                        Generales: Información básica del animal.
                    </li>

                    <li>
                        Descendientes: Detalles de la genealogía del animal.
                    </li>

                    <li>
                        Estadísticas: Promedios estadísticos calculados al animal.
                    </li>

                    <li>
                        Hierros: Señales asignadas al animal.
                    </li>
                    <li>
                        Históricos comunes
                    </li>
                    <li>
                        Vaqueras: Histórico de locaciones en las que ha estado el animal.
                    </li>
                    <li>
                        Inventarios: Presenta el detalle de históricos de inventarios del animal.
                    </li>
                    <li>
                        Movimientos: Detalla cada uno de los movimientos registrados al animal.
                    </li>
                    <li>
                        Clínica: Presenta cada uno de los diagnósticos y tratamientos asignados al animal.
                    </li>
                    <li>
                        Pesos: Histórico de pesos del animal.
                    </li>
                    <li>
                        Condición corporal: Histórico de condiciones corporales del animal.
                    </li>
                    <li>
                        Fotografías: Muestra todas las fotografías registradas al animal, indicando la foto activa (solo una, el resto son fotografías referenciales)
                    </li>
                    <li>
                        Comentarios: Presenta el histórico de comentarios del animal.
                    </li>
                    <li>
                        Históricos según categoría del animal (vientres)
                    </li>
                    <li>
                        Reproducción: Presenta el histórico de eventos de reproducción asociados con el animal.
                    </li>
                    <li>
                        Lactancias: Muestra el detalle de las lactancias acumuladas y los pesajes de leche del animal.
                    </li>
                    <li>
                        Mastitis: Detalla cada una de las pruebas de mastitis aplicadas al animal con sus respectivos resultados.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/vientres.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/vientres.jpg" alt="Vientres" />
            <a href="~/images/captures/vientres_1.jpg" data-lightbox="roadtrip">Vientres</a>
        </a>
    </div>
</div>
