@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Cambios de Estado y Sexo";
    Page.SubTitle = "Opciones del menú registro";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Esta opción le permitirá registrar un cambio de estado del animal o sexo del mismo. Esta será utilizada para aquellos casos en que se requiera generar el registro manualmente ya que debe tomar en cuenta que el sistema se encargará de realizar el cambio de estado automático de un animal (becerro o becerra) al notificar el destete. Para ello, se tomará como base los parámetros previamente establecidos en la configuración.<br />
                    Para hacer uso de esta opción, debe seleccionar la opción por animal o por grupo, realizar el filtrado de los animales correspondientes, especificar los datos del evento como fecha, nuevo estado, técnico responsable y comentario. En la parte inferior de la ventana se mostrará un resumen de los eventos procesados.

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
