@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Eliminar Animal";
    Page.SubTitle = "Opciones del menú registro";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Desde esta opción es posible llevar a cabo las siguientes acciones: <br />
                    •	Inactivar a un animal o un grupo de animales. <br />
                    •	Eliminar de la base de datos animales de referencia <br />
                    •	Eliminar de la base de datos animales con el estatus inactivo. Esta opción no es recomendable ya que perderá toda la información histórica del animal. Al tener al animal en estatus inactivo podrá consultar sus datos en el momento requerido. <br />
                    Para efectuar la eliminación deberá seleccionar el método a utilizar (por animal o por grupo), posteriormente, realice la búsqueda de los animales a eliminar, detalle los datos del evento; fecha, causa, técnico responsable de la eliminación y comentario.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
