@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Hierros y Señales";
    Page.SubTitle = "Opciones del menú archivo";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Esta opción permite al usuario ver una lista de los hierros que se encuentran registrados en la base de datos. Además, si el hierro que se tiene seleccionado posee imagen, ésta podrá ser visualizada.
                </p>
                <p>
                    Para Agregar un Hierro, el usuario debe hacer clic en el botón Agregar
                    ubicado en la barra de botones, en ese momento se activa una ventana donde deberá colocar los siguientes datos de registro:
                </p>
                <p>
                    Descripción
                    Nombre del Propietario.
                    Número de Registro del Hierro.
                    Seleccione una imagen (si lo desea), para esto haga clic en el icono de Imágenes de Hierros, aparecerá una ventana de búsqueda en la que deberá ubicar el archivo (bmp, gif o jpg) que corresponda a la imagen. Seleccione una imagen haciendo clic y presione el botón Abrir
                    o la tecla Enter
                    , o en su defecto, haga doble clic sobre la imagen del hierro.
                    Nota: El sistema se encargará automáticamente de realizar la optimización del tamaño y calidad de la imagen de forma de minimizar el espacio que ocupa en la base de datos,
                </p>
                <p>
                    Al escribir la información haga clic en el botón Guardar
                    Una vez Agregado un Hierro, el usuario podrá Modificarlo o de ser necesario Eliminarlo.
                </p>
                <p>
                    Para modificar la información de un hierro, haga clic en el botón correspondiente, realice los cambios que considere necesarios y luego presione el botón Guardar


                    Para eliminar un registro, selecciónelo y haga clic en el botón Eliminar
                    , si realiza este procedimiento y el hierro está relacionado con algún animal, recibirá una advertencia para confirmar si realmente lo desea eliminar.

                    Adicionalmente esta ventana le permitirá imprimir un Listado de Hierros, con la información básica de estos, el cual  podrá  Exportar  de ser necesario.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/hierros_y_señales.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/hierros_y_señales.jpg" alt="Hierros y Señales" />
            <a href="~/images/captures/hierros_y_señales_1.jpg" data-lightbox="roadtrip">Hierros y Señales</a>
        </a>
    </div>
</div>
