@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Trasladar Animales";
    Page.SubTitle = "Opciones del menú registro";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Desde esta opción es posible realizar el movimiento de un animal de una hacienda a otra, formando parte a partir de ese momento del inventario de la hacienda destino. Para ello, el usuario deberá seleccionar al animal o grupo de animales, especificar los datos del evento, es decir, hacienda destino, fecha del traslado, técnico responsable y comentario.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/trasladar_animales.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/trasladar_animales.jpg" alt="Trasladar Animales" />
            <a href="~/images/captures/trasladar_animales_1.jpg" data-lightbox="roadtrip"></a>
        </a>
    </div>
</div>
