@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "No Vientres";
    Page.SubTitle = "Opciones del menú registro";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Al ingresar a ésta opción, desde la categoría <Archivos>
                        No Vientres, es posible visualizar la información de los animales no vientres registrados en la hacienda. Los datos que se presentan en ésta ventana se encuentran divididos en secciones descritas a continuación: <br />

                        Información General	<br />
                        •	Resumen: Información básica del animal. <br />
                        •	Generales: Información básica del animal. <br />
                        •	Descendientes: Detalles de la genealogía del animal. <br />
                        •	Estadísticas: Promedios estadísticos calculados al animal. <br />
                        •	Hierros: Señales asignadas al animal. <br />
                        Históricos comunes<br />
                        •	Vaqueras: Histórico de locaciones en las que ha estado el animal. <br />
                        •	Inventarios: Presenta el detalle de históricos de inventarios del animal. <br />
                        •	Movimientos: Detalla cada uno de los movimientos registrados al animal. <br />
                        •	Clínica: Presenta cada uno de los diagnósticos y tratamientos asignados al animal. <br />
                        •	Pesos: Histórico de pesos del animal. <br />
                        •	Condición corporal: Histórico de condiciones corporales del animal. <br />
                        •	Fotografías: Muestra todas las fotografías registradas al animal, indicando la foto activa (solo una, el resto son fotografías referenciales) <br />
                        •	Comentarios: Presenta el histórico de comentarios del animal. <br />

</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
