@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Reproductores";
    Page.SubTitle = "Opciones del menú registro";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Esta ventana contiene los datos de los animales de la hacienda que participan en el programa de reproducción, además de los embriones a ser implantados en los vientres. A través de ésta opción el usuario puede ver en forma individual los siguientes datos del animal y adicionalmente podrá <Modificar>
                        algunos de estos: <br />

                        Información General<br />
                        •	Resumen: Información básica del animal. <br />
                        •	Generales: Información básica del animal. <br />
                        Animal descartado, si éste campo se encuentra desactivado, indica que el animal participa en las estadísticas de la hacienda, en el caso de estar activado, significa que se trata de un animal descartado y que usted no desea que por alguna razón afecte los valores estadísticos. <br />
                        •	Descendientes: Detalles de la genealogía del animal. <br />
                        •	Estadísticas: Promedios estadísticos calculados al animal. <br />
                        •	Hierros: Señales asignadas al animal. <br />
                        Históricos comunes<br />
                        •	Vaqueras: Histórico de locaciones en las que ha estado el animal. <br />
                        •	Inventarios: Presenta el detalle de históricos de inventarios del animal. <br />
                        •	Movimientos: Detalla cada uno de los movimientos registrados al animal. <br />
                        •	Clínica: Presenta cada uno de los diagnósticos y tratamientos asignados al animal. <br />
                        •	Pesos: Histórico de pesos del animal. <br />
                        •	Condición corporal: Histórico de condiciones corporales del animal. <br />
                        •	Fotografías: Muestra todas las fotografías registradas al animal, indicando la foto activa (solo una, el resto son fotografías referenciales) <br />
                        •	Comentarios: Presenta el histórico de comentarios del animal. <br />
                        Históricos según categoría del animal (reproductores) <br />
                        •	Servicios: Presenta el detalle de cada uno de los servicios asociados con el reproductor seleccionado. <br />
                        •	Compras y ajustes: Muestra los eventos de tipo compra y ajuste positivo asociados con el reproductor seleccionado. <br />

</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
