@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Codigos Varios";
    Page.SubTitle = "Opciones del menú archivo";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Esta ventana permite al Usuario Agregar, Modificar y Eliminar los códigos que utilizará en el sistema para identificar cada descripción de: <br />

                    <br />Generales<br />
                    •	Vaqueras <br />
                    •	Razas <br />
                    •	Clasificaciones <br />
                    •	Condiciones corporales <br />
                    •	Colores <br />
                    •	Etiquetas <br />
                    •	Propietarios <br />

                    <br />Diagnósticos<br />
                    •	Clínicos <br />
                    •	Reproductivos <br />

                    <br />Tratamientos<br />
                    •	Clínicos <br />
                    •	Reproductivos <br />

                    <br />Para Agregar un código vario debe primero seleccionar de la lista que aparece del lado izquierdo de la ventana, qué tipo de código procede a agregar. En la barra de botones se activan todas las opciones disponibles. <br />

                    Código, escriba un código que identifique al registro que dese hacer (puede ser alfanumérico). Por medio de este código podrá hacer referencia a esta opción mientras trabaje con el sistema.
                    Descripción, indique el significado del código que está registrando en el programa. Luego haga clic en el botón de Guardar, el sistema efectuará los cambios y la ventana se cerrará automáticamente. <br />

                    Nota: A partir de la versión 7.0 de GanSoft se incorporan los códigos varios para propietarios donde puede registrar los familiares que comparten licencia y etiquetas que es una bandera de identificación de color que se presenta en la ficha del animal a través dl cual podrá incluir al animal en una categoría especial, por ejemplo: en venta, no eliminar. <br />

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
