@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Buscar Animal";
    Page.SubTitle = "Opciones del menú registro";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Ventana novedosa que permite al usuario buscar un animal por cualquiera de sus códigos (Práctico, Único o Id. Electrónico), en cualquier hacienda, posee 3 opciones de búsqueda que son: <br />
                    -	Comienza con…<br />
                    -	Contiene…<br />
                    -	Exacto…
                    Estas opciones dan una gran versatilidad al usuario a la hora de buscar un animal no importa si está eliminado o si está en otra hacienda, etc.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/buscar_animal_1.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/buscar_animal_1.jpg" alt="Buscar Animal" />
            <a href="~/images/captures/buscar_animal_2.jpg" data-lightbox="roadtrip">Buscar Animal</a>
        </a>
    </div>
</div>
