<ul class="nav navmenu-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inicio</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Inicio/Bienvenido.cshtml">Bienvenido</a></li>
            <li><a href="~/content/Inicio/Requerimientos.cshtml">Requerimientos</a></li>
            <li><a href="~/content/Inicio/Instalacion.cshtml">Instalación</a></li>
            <li><a href="~/content/Inicio/Configuracion.cshtml">Configuración</a></li>
            <li><a href="~/content/Inicio/Navegacion.cshtml">Navegación</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Archivo</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Sub Menu Archive/Conection Change.cshtml">Cambiar conexión</a></li>
            <li><a href="~/content/Sub Menu Archive/Import Data.cshtml">Importar datos</a></li>
            <li><a href="~/content/Sub Menu Archive/Import Templates.cshtml">Plantillas de importación</a></li>
            <li><a href="~/content/Sub Menu Archive/Back up Data.cshtml">Respaldar datos</a></li>
            <li><a href="~/content/Sub Menu Archive/Restore Data.cshtml">Restaurar datos</a></li>
            <li><a href="~/content/Sub Menu Archive/Sign off.cshtml">Cerrar sesión</a></li>
            <li><a href="~/content/Sub Menu Archive/Get Out.cshtml">Salir</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ver</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Sub Menu View/Menu Bar.cshtml">Barra de Menús</a></li>
            <li><a href="~/content/Sub Menu View/Nav Bar.cshtml">Barra de Navegación</a></li>
            <li><a href="~/content/Sub Menu View/Status Bar.cshtml">Barra de Estado</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Haciendas</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Sub Menu Estate/Selection.cshtml">Seleccionar</a></li>
            <li><a href="~/content/Sub Menu Estate/General Data.cshtml">Datos Generales</a></li>
            <li><a href="~/content/Sub Menu Estate/Configuration.cshtml">Configuración</a></li>
            <li><a href="~/content/Sub Menu Estate/Inventary.cshtml">Inventario</a></li>
            <li><a href="~/content/Sub Menu Estate/Notice.cshtml">Avisos</a></li>
            <li><a href="~/content/Sub Menu Estate/Health plans.cshtml">Planes Sanitarios</a></li>
            <li><a href="~/content/Sub Menu Estate/Code.cshtml">Códigos</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registros</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Sub Menu Registry/Enter Animal.cshtml">Ingresar Animal</a></li>
            <li><a href="~/content/Sub Menu Registry/Search.cshtml">Buscar Animal</a></li>
            <li><a href="~/content/Sub Menu Registry/DeleteA.cshtml">Eliminar Animales</a></li>
            <li><a href="~/content/Sub Menu Registry/BackupA.cshtml">Recuperar Animales</a></li>
            <li><a href="~/content/Sub Menu Registry/Move.cshtml">Trasladar Animales</a></li>
            <li><a href="~/content/Sub Menu Registry/Changestate.cshtml">Cambios de Estado y Sexo</a></li>
            <li><a href="~/content/Sub Menu Registry/Familytree.cshtml">Árbol Genealógico</a></li>
            <li><a href="~/content/Sub Menu Registry/General Data.cshtml">Datos Generales</a></li>
            <li><a href="~/content/Sub Menu Registry/Reproductor.cshtml">Reproductores</a></li>
            <li><a href="~/content/Sub Menu Registry/Bellies.cshtml">Vientres</a></li>
            <li><a href="~/content/Sub Menu Registry/No Bellies.cshtml">No Vientres</a></li>
            <li><a href="~/content/Sub Menu Registry/Technical.cshtml">Técnicos</a></li>
            <li><a href="~/content/Sub Menu Registry/Irons.cshtml">Hierros y Señales</a></li>
            <li><a href="~/content/Sub Menu Registry/Movements.cshtml">Movimientos de Inventario</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Eventos</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Sub Menu Event/Service.cshtml">Servicios</a></li>
            <li><a href="~/content/Sub Menu Event/Reviews.cshtml">Revisiones</a></li>
            <li><a href="~/content/Sub Menu Event/Birthdays.cshtml">Partos</a></li>
            <li><a href="~/content/Sub Menu Event/Abortions.cshtml">Abortos</a></li>
            <li><a href="~/content/Sub Menu Event/Jealousy.cshtml">Celos sin Servicio</a></li>
            <li><a href="~/content/Sub Menu Event/Lactation.cshtml">Lactancias Inducidas</a></li>
            <li><a href="~/content/Sub Menu Event/Embryos.cshtml">Producción de Embriones</a></li>
            <li><a href="~/content/Sub Menu Event/Milk Wighing.cshtml">Pesajes de Leche</a></li>
            <li><a href="~/content/Sub Menu Event/Drying.cshtml">Secado / Destete</a></li>
            <li><a href="~/content/Sub Menu Event/MastitisTest.cshtml">Pruebas de Mastitis</a></li>
            <li><a href="~/content/Sub Menu Event/BodyWeights.cshtml">Pesos Corporales</a></li>
            <li><a href="~/content/Sub Menu Event/BodyCondition.cshtml">Condiciones Corporales</a></li>
            <li><a href="~/content/Sub Menu Event/Location Change.cshtml">Cambios de Locaciones</a></li>
            <li><a href="~/content/Sub Menu Event/NotificationInv.cshtml">Notificación de Inventario</a></li>
            <li><a href="~/content/Sub Menu Event/Clinical.cshtml">Clínicos</a></li>
            <li><a href="~/content/Sub Menu Event/Electronic ID.cshtml">Identificadores Electrónicos</a></li>
            <li><a href="~/content/Sub Menu Event/IronsE.cshtml">Hierros y Señales</a></li>
            <li><a href="~/content/Sub Menu Event/Other Change.cshtml">Otros Cambios</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estadísticas</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Sub Menu Estatics/Production.cshtml">Producción</a></li>
            <li><a href="~/content/Sub Menu Estatics/Reproduction.cshtml">Reproducción</a></li>
            <li><a href="~/content/Sub Menu Estatics/Increase.cshtml">Crecimiento</a></li>
            <li><a href="~/content/Sub Menu Estatics/Milkwighing.cshtml">Pesajes de Leche</a></li>
            <li><a href="~/content/Sub Menu Estatics/Closures.cshtml">Cierres</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Sub Menu Report/Generator.cshtml">Generador</a></li>
            <li><a href="~/content/Sub Menu Report/General Data.cshtml">Datos Generales</a></li>
            <li><a href="~/content/Sub Menu Report/Familytree.cshtml">Árbol Genealógico</a></li>
            <li><a href="~/content/Sub Menu Report/Reproductors.cshtml">Reproductores</a></li>
            <li><a href="~/content/Sub Menu Report/Billies.cshtml">Vientres</a></li>
            <li><a href="~/content/Sub Menu Report/No Billies.cshtml">No Vientres</a></li>
            <li><a href="~/content/Sub Menu Report/Technical.cshtml">Técnicos</a></li>
            <li><a href="~/content/Sub Menu Report/History.cshtml">Históricos</a></li>
            <li><a href="~/content/Sub Menu Report/Other Report.cshtml">Otros Reportes</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Herramientas</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Sub Menu Tools/Options.cshtml">Opciones</a></li>
            <li><a href="~/content/Sub Menu Tools/User.cshtml">Usuarios</a></li>
            <li><a href="~/content/Sub Menu Tools/Level.cshtml">Niveles</a></li>
        </ul>
    </li>
    <li><a href="~/content/Menu principal/Windows.cshtml">Ventanas</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ayuda</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Sub Menu Help/Welcome.cshtml">Bienvenida</a></li>
            <li><a href="~/content/Sub Menu Help/Content.cshtml">Contenido</a></li>
            <li><a href="~/content/Sub Menu Help/About.cshtml">Acerca de</a></li>
            <li><a href="~/content/Sub Menu Help/Upgrade.cshtml">Buscar Actualizaciones</a></li>
            <li><a href="~/content/Sub Menu Help/Commet.cshtml">Enviar Comentarios</a></li>
        </ul>
    </li>
</ul>