<ul class="nav navmenu-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inicio</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Inicio/Bienvenido.cshtml">Bienvenido</a></li>
            <li><a href="~/content/Inicio/Requerimientos.cshtml">Requerimientos</a></li>
            <li><a href="~/content/Inicio/Instalacion.cshtml">Instalación</a></li>
            <li><a href="~/content/Inicio/Configuracion.cshtml">Configuración</a></li>
            <li><a href="~/content/Inicio/Navegacion.cshtml">Navegación</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Archivo</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/archivo/Archive.cshtml">Cambiar conexión</a></li>
            <li><a href="~/content/archivo/ImportarDatos.cshtml">Importar datos</a></li>
            <li><a href="~/content/archivo/PlantillasdeImportacion.cshtml">Plantillas de importación</a></li>
            <li><a href="~/content/archivo/RespaldarDatos.cshtml">Respaldar datos</a></li>
            <li><a href="~/content/archivo/RestaurarDatos.cshtml">Restaurar datos</a></li>
            <li><a href="~/content/archivo/CerrarSesion.cshtml">Cerrar sesión</a></li>
            <li><a href="~/content/archivo/Salir.cshtml">Salir</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ver</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Ver/Barras.cshtml">Barras de Menús</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Haciendas</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/hacienda/Seleccionar.cshtml">Seleccionar</a></li>
            <li><a href="~/content/hacienda/datosgenerales.cshtml">Datos Generales</a></li>
            <li><a href="~/content/hacienda/Configuracion.cshtml">Configuración</a></li>
            <li><a href="~/content/hacienda/Inventario.cshtml">Inventario</a></li>
            <li><a href="~/content/hacienda/Avisos.cshtml">Avisos</a></li>
            <li><a href="~/content/hacienda/PlanesSanitarios.cshtml">Planes Sanitarios</a></li>
            <li><a href="~/content/hacienda/Codigo.cshtml">Códigos</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registros</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/registros/IngresarAnimal.cshtml">Ingresar Animal</a></li>
            <li><a href="~/content/registros/Buscaranimal.cshtml">Buscar Animal</a></li>
            <li><a href="~/content/registros/EliminarAnimal.cshtml">Eliminar Animales</a></li>
            <li><a href="~/content/registros/RecuperarAnimales.cshtml">Recuperar Animales</a></li>
            <li><a href="~/content/registros/TrasladarAnimales.cshtml">Trasladar Animales</a></li>
            <li><a href="~/content/registros/CambiosdeEstado.cshtml">Cambios de Estado y Sexo</a></li>
            <li><a href="~/content/registros/ArbolGenealogico.cshtml">Árbol Genealógico</a></li>
            <li><a href="~/content/registros/DatosGenerales.cshtml">Datos Generales</a></li>
            <li><a href="~/content/registros/Reproductores.cshtml">Reproductores</a></li>
            <li><a href="~/content/registros/Vientres.cshtml">Vientres</a></li>
            <li><a href="~/content/registros/NoVientres.cshtml">No Vientres</a></li>
            <li><a href="~/content/registros/Tecnicos.cshtml">Técnicos</a></li>
            <li><a href="~/content/registros/HierrosySeñales.cshtml">Hierros y Señales</a></li>
            <li><a href="~/content/registros/MovimientosdeInventario.cshtml">Movimientos de Inventario</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Eventos</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/eventos/Servicios.cshtml">Servicios</a></li>
            <li><a href="~/content/eventos/Revisiones.cshtml">Revisiones</a></li>
            <li><a href="~/content/eventos/Partos.cshtml">Partos</a></li>
            <li><a href="~/content/eventos/Abortos.cshtml">Abortos</a></li>
            <li><a href="~/content/eventos/Celosinservicio.cshtml">Celos sin Servicio</a></li>
            <li><a href="~/content/eventos/Lactanciasinducidas.cshtml">Lactancias Inducidas</a></li>
            <li><a href="~/content/eventos/Producciondeembriones.cshtml">Producción de Embriones</a></li>
            <li><a href="~/content/eventos/Pesajesdeleche.cshtml">Pesajes de Leche</a></li>
            <li><a href="~/content/eventos/Secadodestete.cshtml">Secado / Destete</a></li>
            <li><a href="~/content/eventos/Pruebasdemastitis.cshtml">Pruebas de Mastitis</a></li>
            <li><a href="~/content/eventos/Pesoscorporales.cshtml">Pesos Corporales</a></li>
            <li><a href="~/content/eventos/Condicionescorporales.cshtml">Condiciones Corporales</a></li>
            <li><a href="~/content/eventos/Cambiosdelocacion.cshtml">Cambios de Locaciones</a></li>
            <li><a href="~/content/eventos/Notificaciondeinventario.cshtml">Notificación de Inventario</a></li>
            <li><a href="~/content/eventos/Clinicos.cshtml">Clínicos</a></li>
            <li><a href="~/content/eventos/Identificadoreselectronicos.cshtml">Identificadores Electrónicos</a></li>
            <li><a href="~/content/eventos/Hierrosyseñales.cshtml">Hierros y Señales</a></li>
            <li><a href="~/content/eventos/Otroscambios.cshtml">Otros Cambios</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estadísticas</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Estadisticas/Produccion.cshtml">Producción</a></li>
            <li><a href="~/content/Estadisticas/Reproduccion.cshtml">Reproducción</a></li>
            <li><a href="~/content/Estadisticas/Crecimiento.cshtml">Crecimiento</a></li>
            <li><a href="~/content/Estadisticas/Pesajesdeleche.cshtml">Pesajes de Leche</a></li>
            <li><a href="~/content/Estadisticas/Cierres.cshtml">Cierres</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Reportes/Generador.cshtml">Generador</a></li>
            <li><a href="~/content/Reportes/Datosgenerales.cshtml">Datos Generales</a></li>
            <li><a href="~/content/Reportes/Arbolgenealogico.cshtml">Árbol Genealógico</a></li>
            <li><a href="~/content/Reportes/Reproductores.cshtml">Reproductores</a></li>
            <li><a href="~/content/Reportes/Vientres.cshtml">Vientres</a></li>
            <li><a href="~/content/Reportes/Novientres.cshtml">No Vientres</a></li>
            <li><a href="~/content/Reportes/Tecnicos.cshtml">Técnicos</a></li>
            <li><a href="~/content/Reportes/Historicos.cshtml">Históricos</a></li>
            <li><a href="~/content/Reportes/OtrosReportes.cshtml">Otros Reportes</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Herramientas</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Herramientas/Opciones.cshtml">Opciones</a></li>
            <li><a href="~/content/Herramientas/Usuarios.cshtml">Usuarios</a></li>
            <li><a href="~/content/Herramientas/Niveles.cshtml">Niveles</a></li>
        </ul>
    </li>
    <li><a href="~/content/Menu principal/Ventana.cshtml">Ventanas</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ayuda</a>
        <ul class="dropdown-menu navmenu-nav" role="menu">
            <li><a href="~/content/Ayuda/Inicio.cshtml">Inicio</a></li>
            <li><a href="~/content/Ayuda/Contenido.cshtml">Contenido</a></li>
            <li><a href="~/content/Ayuda/Acercade.cshtml">Acerca de</a></li>
            <li><a href="~/content/Ayuda/Actualizaciones.cshtml">Buscar Actualizaciones</a></li>
            <li><a href="~/content/Ayuda/Comentarios.cshtml">Enviar Comentarios</a></li>
        </ul>
    </li>
</ul>