@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bienvenido al manual de Gansoft Pro";
}

<div class="row">
    <div class="col-md-12">
        <h2>
            Guía que describe detalladamente todas las funciones del sistema GanSoft Pro para una mejor experiencia del usuario.
        </h2>
    </div>
    <div class="col-md-2 text-center">
        <img class="img-responsive" src="~/images/logo_gansoft.png" alt="Logo" />
    </div>
    <div class="col-md-10">
        <h2>
            Programa computarizado y diseñado para el control de registros de rebaños, desarrollado con tecnología de vanguardia
            que lo ha convertido en una sencilla y completa herramienta para optimizar el manejo de múltiples sistemas de producción
            animal. Es un producto de excelente calidad, con amplia experiencia en el área, implementado en más de cuatro mil fincas
            a nivel nacional e internacional.
        </h2>
    </div>
    <div class="col-md-12">
        <h3>
            Requerimientos
        </h3>
    </div>
    <div class="col-md-6">
        <ul>
            <li>Procesador igual o superior a 1.0 Ghz.</li>
            <li>2 Gb. de memoria RAM</li>
            <li>2 Gb. de espacio libre en disco</li>
            <li>Sistema operativo Windows 7 o superior</li>
            <li>Resolución de pantalla 1024x768</li>
        </ul>
    </div>
        @*<div class="col-md-6 text-center">
            <a href="https://itunes.apple.com/us/app/gansoft/id1058928443?mt=8" target="_blank">
                <img class="img-responsive" src="~/images/Badges/appstore.png" alt="App Store" />
            </a>
        </div>
        <div class="col-md-6 text-center">
            <a href="https://play.google.com/store/apps/details?id=com.softsupply.gansoft" target="_blank">
                <img class="img-responsive" src="~/images/Badges/playstore.png" alt="Play Store" />
            </a>
        </div>*@
</div>