@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Condiciones Corporales";
    Page.SubTitle = "Opciones del menú evento";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    A través de este evento es posible reportar los cambios en condiciones corporales ocurridos en un animal o un grupo de animales. Para ello, deberá seleccionar al animal o filtrar el grupo de animales correspondientes al cambio de condición corporal a reportar.
                </p>
                <p>
                    Una vez realizado esto, deberá indicar los siguientes datos:
                    Fecha, indique el día, mes y año del cambio en condición corporal.
                    Condición Corporal, establezca el valor de la condición corporal según corresponda.
                    Técnico, indique el nombre del técnico responsable.
                    Comentario, especifique cualquier otro detalle que desee para complementar la información del evento reportado.
                </p>
                <p>
                    Igualmente, puede activar la opción mantener comentario para aplicar el mismo comentario a los próximos eventos de condiciones corporales a procesar.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/condiciones_corporales.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/condiciones_corporales.jpg" alt="Condiciones Corporales" />
            <a href="~/images/captures/condiciones_corporales_1.jpg" data-lightbox="roadtrip"></a>
        </a>
    </div>
</div>
