@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Pesos Corporales";
    Page.SubTitle = "Opciones del menú evento";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Es el proceso que permite incorporar los pesos corporales y alturas de cada uno de los animales de la hacienda. Para ello, debe seleccionar el tipo de animal, si es reproductor, vientre o no vientre.
                </p>
                <p>
                    Luego debe indicar el número del animal y presionar la tecla Enter
                    , también puede seleccionar al animal a través de la ventana Seleccionar Vientre, que se muestra haciendo doble clic en el cuadro de texto del código (práctico o único). Visualizará del lado derecho los Pesajes Corporales anteriores que ha tenido ese animal. Proceda a ingresar los datos correspondientes al secado:
                </p>
                <p>
                    Fecha, Día, mes y año en que se efectúa el peso corporal.
                    Tipo, seleccione el tipo de medida que está reportando; dependiendo del animal seleccionado y de los pesajes anteriores, puede seleccionar entre: Al nacer, Al destete, Al ingreso, General, A la venta, Servicio, Al parto y Al secado, estos tres últimos son únicamente para los vientres.
                    Peso, indique el peso corporal (en kilogramos) que obtuvo el animal. El programa actualizará esa información en el histórico de pesos corporales.
                    Altura, si lo desea indique la altura (en metros) que obtuvo el animal o deje en blanco si no la conoce, ya que es un campo opcional. El programa actualizará esa información en el histórico de pesos corporales.
                    Cuando usted notifica un peso al destete a un becerro o becerra, el sistema hará el cambio de estado automáticamente, pasando esos animales a maute y mauta respectivamente

                    El sistema incluirá sólo aquellos pesos en los animales cuya fecha sea mayor a la del último pesaje, es decir, no permite incluir pesos históricos.
                </p>
                <p>
                    Nota: Antes de reportar los resultados del evento peso corporal, también puede realizar un cambio de vaquera, actualizar el número de pezones, agregar una nueva condición corporal y modificar el servir con. Para esto sólo debe posicionarse en los cuadros de texto de la parte inferior de la ventana y luego notificar el servicio.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/pesos_corporales.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/pesos_corporales.jpg" alt="Pesos Corporales" />
            <a href="~/images/captures/pesos_corporales_1.jpg" data-lightbox="roadtrip">Pesos Corporales</a>
        </a>
    </div>
</div>
