@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Clínicos";
    Page.SubTitle = "Opciones del menú evento";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Al seleccionar esta opción se despliega una ventana por medio de la que es posible notificar eventos clínicos o eventos No Reproductivos que ocurren a los animales de la hacienda tales como problemas pódales, vacunas, diarreas, fiebres, entre otros.<br />

                    En este proceso solo se aceptan aquellos eventos ocurridos con fecha posterior al último diagnóstico no reproductivo de cada animal. <br />

                    El usuario puede seleccionar informar los eventos clínicos por animal o por grupo: <br />

                    Por animal, indique el código práctico o el código único y presione la tecla Enter
                    . <br />
                    Por grupo, Por medio de esta opción puede reportar un mismo evento a un grupo de animales. Para ambos casos, debe seguir el procedimiento descrito a continuación: <br />
                    Establezca la fecha en la que se realizó el evento a los animales seleccionados. <br />
                    Indique el Diagnóstico, para ello escriba el código del diagnóstico y luego presione Enter
                    , también puede hacer doble clic en el cuadro de texto y consultar los códigos de diagnósticos no reproductivos en la ventana de Códigos Varios. <br />
                    Indique el Tratamiento que necesita reportar, para ello escriba el código del tratamiento y luego presione Enter
                    , también puede hacer doble clic en el cuadro de texto y consultar los códigos de tratamiento no reproductivos en la ventana de Códigos Varios. Si no desea escribir un tratamiento, puede dejar este campo en blanco y continuar, ya que es un campo opcional. <br />
                    Indique el porcentaje de eficiencia, el técnico responsable del evento y el comentario clínico si lo desea. <br />
                    Una vez suministrados los datos necesarios, haga clic en el botón Guardar
                    que se encuentra en la barra de botones. <br />

                    Toda la información procesada por medio de esta ventana, se guardará en la Historia Clínica de cada animal. <br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/clinicos.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/clinicos.jpg" alt="Clinicos" />
            <a href="~/images/captures/clinicos_1.jpg" data-lightbox="roadtrip">Clinicos</a>
        </a>
    </div>
</div>
