@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Producción de Embriones";
    Page.SubTitle = "Opciones del menú evento";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Por medio de este evento es posible realizar el registro de los embriones en el sistema, permitiendo llevar un control más detallado de este método utilizado.
                </p>
                <p>
                    Para ello, deberá especificar los siguientes datos:
                    Fecha, detalle el día, mes y año de recolección del embrión.
                    Método, indique el método utilizado.
                    Reproductor, especifique los detalles del animal reproductor.
                    Fecha servicio, indique día, mes y año en que se produce la colocación del embrión.
                    Dosis, determine la dosis utilizada en el servicio.
                    Único Embrión, especifique el código único del embrión.
                    Óvulos iniciales, indique la cantidad de óvulos iniciales en el evento.
                    Embriones viables, especifique la cantidad de embriones viables del evento.
                    Técnico, especifique el nombre del técnico responsable del evento.
                    Comentario, puede especificar mayores detalles acerca del evento reportado.
                </p>
                <p>
                    Nota: Antes de reportar el evento de producción de embriones, puede realizar un cambio de vaquera, actualizar el número de pezones, agregar una nueva condición corporal y modificar el servir con. Para esto sólo debe posicionarse en los cuadros de texto de la parte inferior de la ventana y luego notificar el servicio.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/produccion_de_embriones.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/produccion_de_embriones.jpg" alt="Producción de embriones" />
            <a href="~/images/captures/produccion_de_embriones_1.jpg" data-lightbox="roadtrip">Producción de embriones</a>
        </a>
    </div>
</div>
