@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Lactancias Inducidas";
    Page.SubTitle = "Opciones del menú evento";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Este evento se incorporó para aquellos casos en los cuales se suministran hormonas al vientre para provocar la lactancia. <br />
                    El usuario deberá indicar los siguientes datos para proceder a registrar el evento: <br />
                    Fecha, deberá especificar el día, mes y año en que inicia la lactancia inducida. <br />
                    Tratamiento, detalle de la hormona suministrada para provocar la lactancia. <br />
                    Fecha tratamiento, deberá especificar el día, mes y año de la aplicación del tratamiento para la lactancia inducida. <br />
                    Técnico, especifique el nombre del técnico responsable del evento. <br />
                    Comentario, puede especificar mayores detalles acerca de la aplicación del tratamiento. <br />
                    Nota: Antes de registrar la lactancia inducida también puede realizar un cambio de vaquera, actualizar el número de pezones, agregar una nueva condición corporal y modificar el servir con. Para esto sólo debe posicionarse en los cuadros de texto de la parte inferior de la ventana y luego notificar el servicio.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
