@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Cambios de Locaciones";
    Page.SubTitle = "Opciones del menú evento";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Al seleccionar esta opción se despliega una ventana por medio de la que es posible notificar los cambios de ubicación que ocurren a los animales de la hacienda. Puede especificar los cambios de locaciones por animal o por grupo. <br />

                    Por animal, Indique el tipo de animal (reproductor, Vientre o No Vientre), el código práctico o el código único y presione la tecla Enter
                    . También puede seleccionar al animal por medio del listado que se despliega situándose en el cuadro de texto del código o haciendo doble clic en el mismo, en éste podrá seleccionar el animal requerido con doble clic o con un clic y presionando la tecla Enter
                    .<br />
                    Por Grupo, Por medio de esta opción puede reportar un mismo evento a un grupo de animales. <br />

                    Para ambos casos, debe seguir el procedimiento descrito a continuación: <br />
                    Fecha, indique el día, mes y año en que ocurrió  el evento a los animales seleccionados.
                    Indique la nueva Vaquera, para ello escriba el código de la vaquera y luego presione Enter
                    , también puede hacer doble clic en el cuadro de texto y consultar los códigos de vaqueras y condiciones corporales en la ventana de Códigos Varios. <br />
                    Técnico,  indique el nombre del técnico responsable del cambio de locación. <br />
                    Indique el comentario si lo desea, ya que es un dato de tipo opcional. <br />
                    Una vez suministrados los datos necesarios, haga clic en el botón Guardar
                    que se encuentra activo en la barra de botones. <br />

                    Toda la información procesada a través de esta opción, guardará en el Histórico de Vaqueras de cada animal<br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
