@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Notificación de Inventario";
    Page.SubTitle = "Opciones del menú evento";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Por medio de ésta ventana es posible ingresar eventos relacionados con el inventario físico de los animales, de forma tal que sea posible llevar el control de los animales que se encuentran en la hacienda, así como también de comentarios específicos relacionados con cada animal, que provienen de observaciones directas realizadas en el campo. Esta operación puede realizarse tanto por animal como por grupo:<br />

                    Por animal, indique el tipo de animal (reproductor, Vientre o No Vientre), el código práctico o el código único y presione la tecla Enter
                    . En el listado podrá seleccionar el animal requerido con doble clic o con un clic y presionando la tecla Enter
                    . Es similar a la asignación de códigos, con la diferencia que no deberá indicar un número de ID. <br />

                    Por Grupo, Deberá indicar la vaquera en la que se encuentran los animales. Puede seleccionar el tipo de animal que será incluido en la búsqueda. Para seleccionarlos sólo debe hacer clic en el cuadro de texto correspondiente para que ésta se active. Luego de haber seleccionado los filtros de los animales mediante las diferentes opciones, deberá presionar el botón de Agregar
                    . Seguidamente, aparece un listado de los animales encontrados. En la parte superior de este listado, se muestran varias opciones con las que cuenta el usuario para seleccionar los animales.
                    Si desea seleccionar sólo algunos de los animales del listado, podrá hacerlo de dos maneras: Si es la minoría de los animales lo más recomendable es que haga clic en la opción de seleccionar ninguno y con el puntero del mouse active las casillas de verificación de los animales a incluir. Si los animales que desea seleccionar son la mayoría, puede seleccionar todos y hacer clic en las casillas de los animales que no desea incluir. <br />

                    Para finalizar la operación debe hace clic en el botón Guardar ubicado en la barra de botones. <br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
