@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Cambio de Conexión";
    Page.SubTitle = "Opciones del menú archivo";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Al hacer clic en esta opción se presenta una ventana que le permitirá seleccionar el método de conexión que desee, presentando las diferentes alternativas que tiene las cuales se describen a continuación:
                </p>
                <ul>
                    <li>	Personalizar el sistema con una nueva licencia: Utilice esta opción en caso de que sea un nuevo usuario del programa y haya adquirido la licencia, su proveedor le hará entrega de un archivo personalizado en un cd o vía correo electrónico. El sistema lo guiará para la recuperación del archivo. Solo debe tomar en cuenta la ruta donde se encuentra almacenado el archivo.</li>
                    <li>	Iniciar utilizando datos demostrativos: Seleccionando esta opción tendrá acceso al programa GanSoft con datos que le permitirán evaluar el comportamiento del sistema en el manejo de gráficas, estadísticas, reportes ya que contiene registros previos que facilitarán la visualización de resultados a través del sistema.</li>
                    <li>	Importar base de datos desde la versión anterior: Esta opción le permitirá importar una base de datos desde la versión 6.1, en caso de que sus datos se encuentren en una versión anterior, deberá primeramente pasarlos a la versión 6.1 y posteriormente importarlos a la versión 7 haciendo uso de esta opción.</li>
                    <li>	Conectarse a una base de datos existente: A través de esta opción el usuario tendrá la posibilidad de establecer conexión desde diferentes fuentes. Cada una de las cuales se indican a continuación:</li>
                    <li>	Servidor Web: Para aquellos casos en los que el usuario tenga la base de datos hospedada en un servidor web, por medio de esta opción es posible establecer conexión. Para ello, el usuario debe hacer clic en opciones avanzadas e indicar los parámetros de seguridad para la conexión.</li>
                    <li>	Servidor en Red: Si dispone de una conexión en red, puede establecer conexión con la base de datos instalada en el servidor, indicando para ello los parámetros de conexión requeridos. Haga clic en opciones avanzadas y especifique el nombre del servidor con el que desea establecer conexión y haga clic en conectar. Al establecer la conexión se mostrarán las bases de datos disponibles. Seleccione la que desea utilizar.</li>
                    <li>	Recuperar datos desde un respaldo: Por medio de esta opción es posible recuperar un respaldo de los datos previamente realizado en la versión 7.0 </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/cambiar_conexion1.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/cambiar_conexion1.jpg" alt="Cambio de Conexión" />
            <a href="~/images/captures/cambiar_conexion.jpg" data-lightbox="roadtrip">Cambio de Conexión</a>
        </a>
    </div>
</div>
