@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Salir";
    Page.SubTitle = "Opciones del menú archivo";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Al seleccionar ésta opción, muestra un mensaje de confirmación en el cual deberá presionar el botón Si en caso de que desee salir de GanSoft, presione No si desea continuar trabajando con el sistema
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/salir_1.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/salir_1.jpg" alt="Salir" />
            <a href="~/images/captures/salir_2.jpg" data-lightbox="roadtrip">Salir</a>
        </a>
    </div>
</div>
