@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Importar Datos";
    Page.SubTitle = "Opciones del menú archivo";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Por medio de esta opción es posible incorporar a la base de datos registros provenientes de diferentes fuentes, algunas de ellas son: <br />

                    •	Libro de Excel 97-2003 (.xls)<br />
                    •	Libro de Excel 2007-2013 (.xlsx)<br />
                    •	Eventos desde GanSoft Móvil  (.gsb)<br />
                    Los datos para la importación proveniente desde Excel, puede prepararlos haciendo uso de la opción Plantilla de Importación.<br />

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/importar_datos_1.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/importar_datos_1.jpg" alt="Importar Datos" />
            <a href="~/images/captures/importar_datos.jpg" data-lightbox="roadtrip">Importar datos</a>
        </a>
    </div>
</div>
