@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Restaurar Datos";
    Page.SubTitle = "Opciones del menú archivo";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Este procedimiento permite recuperar la base de datos del sistema GanSoft desde cualquier unidad en la que previamente haya sido realizado un respaldo. Al seleccionar esta opción se despliega un cuadro de dialogo donde deberá indicar la ruta en la que se encuentra el respaldo que desea recuperar
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/restaurar_datos_1.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/restaurar_datos_1.jpg" alt="Restaurar Datos" />
            <a href="~/images/captures/restaurar_datos.jpg" data-lightbox="roadtrip"></a>
        </a>
    </div>
</div>
