@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Reproductores";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            La información que se maneja en esta opción es exclusivamente para operar con los datos de los animales registrados en el archivo de reproductores.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Reproductores">Reproductores</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Reproductores">Reproductores</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Por medio de esta opción es posible iniciar un asistente a través del cual es posible crear los reportes personalizados, de forma tal de presentar
                    los resultados según las necesidades del usuario facilitando así la toma de decisiones oportunas.
                </p>
                <p>
                    El procedimiento a seguir para generar reportes y vistas es el siguiente:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/reproductores_reportes.jpg" class="thumbnail" data-lightbox="Reproductores" data-title="Menú reproductores">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/reproductores_reportes.jpg" alt="Menú reproductores" />
                </a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/reproductores_reportes_1.jpg" data-lightbox="Reproductores" data-title="Ventana de reproductores"></a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Pestaña configuraciones</h4>
        <div class="row">
            <div class="col-md-12">
                En esta sección del generador se determinan los datos básicos del reporte.
                Número, indique un código que identifique al reporte.
                Nombre, establezca un nombre que permita identificar al reporte.
                Descripción, indique una breve definición del reporte para facilitar la identificación del mismo.
                Igualmente, cuenta con la opción de establecer como público al guardar, que si mantiene activa indica que el reporte estará disponible para todos los usuarios registrados en el sistema, si la destilda, establece que únicamente estará disponible para el usuario activo (quien crea el reporte).
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Pestaña impresión</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta sección se establecen cada una de las variables que se mostrarán en el reporte.
                    Grupo, permite seleccionar la categoría a la que pertenecen las variables a utilizar en el reporte. El ordenamiento facilita la ubicación de las variables a emplear en el reporte a diseñar.
                    Nivel, permite determinar el nivel que ocupa en el árbol genealógico el contenido a la variable a seleccionar para el reporte, es decir, indicar si pertenece al hijo, animal, padres o abuelos.
                    Variable del grupo, presenta los resultados de las variables obtenidas luego de establecer los filtros de grupo y nivel. Se deben seleccionar las variables a utilizar en el reporte y hacer clic en la opción agregar para moverlas a la parte derecha de la ventana que indica que son las variables a mostrar en el reporte.
                    En esta parte es posible determinar el orden de las variables a mostrar en el reporte, haciendo clic sobre la variable a posicionar y presionando el botón de flecha arribva o abajo en el teclado hasta obtener los resultados esperados.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Pestaña condiciones</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Desde esta pestaña es posible determinar las condiciones que se deben cumplir en las variables a utilizar en el reporte para que se incluyan y o excluyan registros en el reporte.
                    Pestaña Ordenamiento
                    En esta sección es posible establecer las variables que determinarán el orden de presentación de los registros contenidos en el reporte.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Ajustes</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Desde esta sección el usuario puede personalizar los encabezados a visualizar en el reporte, además de establecer configuraciones de fuente y de página.
                </p>
            </div>
        </div>
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: En caso de que luego de modificar con valores personalizados el encabezado de un reporte y desea que se muestren los encabezados que por defecto estaban establecidos en el sistema, debe dejar en blanco los espacios de los encabezados y reiniciar la conexión.
                Para eliminar un reporte, selecciónelo de la lista y haga clic en el botón de Eliminar representado por una X de color negro.
            </div>
        </div>
    </div>
</article>