@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Generador";
    Page.SubTitle = "";
}

<article class="row">
    <div class="col-md-12">
        <p class="lead">
            Por medio de esta opción es posible iniciar un asistente a través del cual es posible crear los reportes personalizados, de forma tal de presentar los resultados según
            las necesidades del usuario facilitando así la toma de decisiones oportunas. Adicionalmente, el generador de reportes permite personalizar las variables que se visualizan
            en cada reporte y los encabezados del mismo.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Generador">Generador</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Generador">Generador</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    El procedimiento a seguir para generar reportes y vistas es el siguiente:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/generagenerador_de_reporte.jpg" class="thumbnail" data-lightbox="Generadordereportes" data-title="Menú generador de reportes">
                    <img class="img-responsive" src="~/images/captures/generador_de_reporte.jpg" alt="Menú generador de reportes" />
                </a>
                <a href="~/images/captures/generador_de_reporte_1.jpg" data-lightbox="Generadordereportes" data-title="Ventana del generador de repórtes"></a>
                <a href="~/images/captures/generador_de_reporte_2.jpg" data-lightbox="Generadordereportes" data-title="Ventana del generador de repórtes"></a>
                <a href="~/images/captures/generador_de_reporte_3.jpg" data-lightbox="Generadordereportes" data-title="Ventana del generador de repórtes"></a>
                <a href="~/images/captures/generador_de_reporte_4.jpg" data-lightbox="Generadordereportes" data-title="Ventana del generador de repórtes"></a>
                <a href="~/images/captures/generador_de_reporte_5.jpg" data-lightbox="Generadordereportes" data-title="Ventana del generador de repórtes"></a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Pestaña configuraciones</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta sección del generador se determinan los datos básicos del reporte.
                    Número, indique un código que identifique al reporte.
                    Nombre, establezca un nombre que permita identificar al reporte.
                    Descripción, indique una breve definición del reporte para facilitar la identificación del mismo.
                    Igualmente, cuenta con la opción de establecer como público al guardar, que si mantiene activa indica que el reporte estará disponible para todos los usuarios registrados en el sistema, si la destilda, establece que únicamente estará disponible para el usuario activo (quien crea el reporte).
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Pestaña impresión</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta sección se establecen cada una de las variables que se mostrarán en el reporte.
                    Grupo, permite seleccionar la categoría a la que pertenecen las variables a utilizar en el reporte. El ordenamiento facilita la ubicación de las variables a emplear en el reporte a diseñar.
                    Nivel, permite determinar el nivel que ocupa en el árbol genealógico el contenido a la variable a seleccionar para el reporte, es decir, indicar si pertenece al hijo, animal, padres o abuelos.
                    Variable del grupo, presenta los resultados de las variables obtenidas luego de establecer los filtros de grupo y nivel. Se deben seleccionar las variables a utilizar en el reporte y hacer clic en la opción agregar para moverlas a la parte derecha de la ventana que indica que son las variables a mostrar en el reporte.
                    En esta parte es posible determinar el orden de las variables a mostrar en el reporte, haciendo clic sobre la variable a posicionar y presionando el botón de flecha arriba o abajo en el teclado hasta obtener los resultados esperados.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Pestaña condiciones</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Desde esta pestaña es posible determinar las condiciones que se deben cumplir en las variables a utilizar en el reporte para que se incluyan y o excluyan registros en el reporte.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Pestaña ordenamiento</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta sección es posible establecer las variables que determinarán el orden de presentación de los registros contenidos en el reporte.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Ajustes</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Desde esta sección el usuario puede tener una vista previa, personalizar los encabezados a visualizar en el reporte, además de establecer configuraciones de fuente y de página.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: En caso de que luego de modificar con valores personalizados el encabezado de un reporte y desea que se muestren los encabezados que por defecto estaban establecidos en el sistema, debe dejar en blanco los espacios de los encabezados y reiniciar la conexión.
            </div>
        </div>
    </div>
</article>