@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "No vientres";
    Page.SubTitle = "";
}

<article class="row">
    <div class="col-md-12">
        <p class="lead">
            Los reportes diseñados en esta sección permiten visualizar la información de los animales inscritos en el archivo de no vientres.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Novientres">No vientres</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Novientres">No vientres</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Si desea agregar un nuevo reporte, debe presionar el botón Nuevo
                    el cual desplegará una ventana solicitando el código que identificará el reporte a diseñar. Introduzca el código y presione la tecla enter
                    ; seguidamente, se desplegará un generador de reportes que le permitirá definir paso a paso las variables y condiciones que desea incorporar al informe.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/no_vientres_reportes.jpg" class="thumbnail" data-lightbox="Novientres" data-title="Menú no vientres">
                    <img class="img-responsive" src="~/images/captures/no_vientres_reportes.jpg" alt="Menú no vientres" />
                </a>
                <a href="~/images/captures/no_vientres_reportes_1.jpg" data-lightbox="Hierrosyseñales" data-title="Ventana de no vientres"></a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Por medio de esta opción es posible iniciar un asistente a través del cual es posible crear los reportes personalizados, de forma tal de presentar
            los resultados según las necesidades del usuario facilitando así la toma de decisiones oportunas.
        </p>
        <p>
            El procedimiento a seguir para generar reportes y vistas es el siguiente:
        </p>
    </div>
    <div class="col-md-12">
        <h4></h4>
        <div class="row">
            <div class="col-md-12">
                <p>

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Pestaña configuraciones</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta sección del generador se determinan los datos básicos del reporte.
                    Número, indique un código que identifique al reporte.
                    Nombre, establezca un nombre que permita identificar al reporte.
                    Descripción, indique una breve definición del reporte para facilitar la identificación del mismo.
                    Igualmente, cuenta con la opción de establecer como público al guardar, que si mantiene activa indica que el reporte estará disponible para todos los usuarios registrados en el sistema, si la destilda, establece que únicamente estará disponible para el usuario activo (quien crea el reporte).
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Pestaña impresión</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta sección se establecen cada una de las variables que se mostrarán en el reporte.
                    Grupo, permite seleccionar la categoría a la que pertenecen las variables a utilizar en el reporte. El ordenamiento facilita la ubicación de las variables a emplear en el reporte a diseñar.
                    Nivel, permite determinar el nivel que ocupa en el árbol genealógico el contenido a la variable a seleccionar para el reporte, es decir, indicar si pertenece al hijo, animal, padres o abuelos.
                    Variable del grupo, presenta los resultados de las variables obtenidas luego de establecer los filtros de grupo y nivel. Se deben seleccionar las variables a utilizar en el reporte y hacer clic en la opción agregar para moverlas a la parte derecha de la ventana que indica que son las variables a mostrar en el reporte.
                    En esta parte es posible determinar el orden de las variables a mostrar en el reporte, haciendo clic sobre la variable a posicionar y presionando el botón de flecha arribva o abajo en el teclado hasta obtener los resultados esperados.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Pestaña condiciones</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Desde esta pestaña es posible determinar las condiciones que se deben cumplir en las variables a utilizar en el reporte para que se incluyan y o excluyan registros en el reporte.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Pestaña ordenamiento</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    En esta sección es posible establecer las variables que determinarán el orden de presentación de los registros contenidos en el reporte.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Ajustes</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Desde esta sección el usuario puede personalizar los encabezados a visualizar en el reporte, además de establecer configuraciones de fuente y de página.
                </p>
            </div>
        </div>
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: En caso de que luego de modificar con valores personalizados el encabezado de un reporte y desea que se muestren los encabezados que por defecto estaban establecidos en el sistema, debe dejar en blanco los espacios de los encabezados y reiniciar la conexión.
                Puede imprimir el reporte haciendo clic en el botón Imprimir ubicado en la barra de botones o si lo prefiere puede exportar dicha información hacia una aplicación externa.
            </div>
        </div>
    </div>
</article>