@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Auditoría";
    Page.SubTitle = "Opciones del menú herramientas";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Ésta opción se encuentra dentro del menú Herramientas
                    y permite consultar todas las operaciones realizadas por los usuarios que manejan el sistema. Presenta varios filtros para obtener los resultados esperados como usuarios, fecha de inicio y de fin, sesiones, orígenes y operación.
                </p>
                <p>
                    Por medio de esta opción el usuario tiene la posibilidad de evaluar el desempeño de los trabajadores y estos tienen la opción de justificar cada operación efectuada a través del registro de comentarios adicionales.
                </p>
                <p>
                    El usuario con nivel administrador, tiene la opción de establecer el nivel de acceso a la auditoría para cada usuario registrado, de forma tal de permitir o denegar la opción de consultar y justificar cada operación realizada con el sistema GanSoft.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/Areas/GanSoftPro/Content/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/Areas/GanSoftPro/Content/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/Areas/GanSoftPro/Content/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip"></a>
            <a href="~/Areas/GanSoftPro/Content/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip"></a>
            <a href="~/Areas/GanSoftPro/Content/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip"></a>
        </a>
    </div>
</div>
