@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Abortos";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}
<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta opción permite notificar los Abortos que han ocurrido en las hembras existentes en el archivo de Vientres.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Abortos">Abortos</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Abortos">Abortos</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Para agregar un nuevo aborto debe escribir el número del animal (código práctico o único) y presionar la tecla enter, también puede seleccionar al animal a través de la ventana seleccionar vientre, que se muestra haciendo doble clic en el cuadro de texto del código (práctico o único). En esta ventana visualizará al lado derecho los eventos reproductivos anteriores que ha tenido ese vientre, y deberá ingresar los datos del nuevo aborto:
                    fecha, esta debe ser en orden cronológico con respecto al último evento reproductivo. Luego presione la tecla enter o posicione el cursor en el siguiente cuadro de texto.
                    posteriormente, haga clic en el icono de guardar
                    o presione la tecla enter hasta que la notificación pase a la sección abortos en esta sesión.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/abortos.jpg" class="thumbnail" data-lightbox="Abortos" data-title="Menú abortos">
                    <img class="img-responsive" src="~/images/captures/abortos.jpg" alt="Menú abortos" />
                </a>
                <a href="~/images/captures/abortos_1.jpg" data-lightbox="Abortos" data-title="Ventana de hierros y señales"></a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: Antes de almacenar el aborto también puede realizar un cambio de vaquera, actualizar el número de pezones, agregar una nueva condición corporal y modificar el servir con. Para esto sólo debe posicionarse en los cuadros de texto de la parte inferior de la ventana y luego notificar el servicio.
            </div>
        </div>
        <p>
            El sistema exige que el animal esté preñado y clasificará el aborto como tipo A ó tipo B según los días establecidos en las constantes de la configuración de la hacienda. Dicho proceso actualizará la información relacionada con el estado reproductivo del animal.
        </p>
        <p>
            Si desea cancelar el nuevo servicio salga de la ventana haciendo clic al icono de cancelar o presionando la tecla esc.
            En caso de que una vaca tenga un aborto posterior a un parto, la información referente a las crías podrá continuar siendo visible en el resumen de reproducción.
            Al reportar un aborto, el sistema presentará un mensaje solicitando información acerca de si el animal está lactando o no y el mismo, presentará una sugerencia de acuerdo a lo establecido en la configuración. Si es un aborto con lactancia, cierra la que tenía y si es sin lactancia, continúa con la lactancia anterior.
        </p>
    </div>
</article>