@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Clínicos";
    ViewBag.SubTitle =
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Al seleccionar esta opción se despliega una ventana por medio de la que es posible notificar eventos clínicos o eventos no reproductivos que ocurren a los animales de la hacienda tales como problemas pódales, vacunas, diarreas, fiebres, entre otros.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Clinicos">Clínicos</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Clinicos">Clínicos</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    En este proceso solo se aceptan aquellos eventos ocurridos con fecha posterior al último diagnóstico no reproductivo de cada animal.
                    El usuario puede seleccionar informar los eventos clínicos por animal o por grupo:
                </p>
                <p>
                    Por animal, indique el código práctico o el código único y presione la tecla enter.
                </p>
                <p>
                    Por grupo, Por medio de esta opción puede reportar un mismo evento a un grupo de animales. Para ambos casos, debe seguir el procedimiento descrito a continuación:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/clinicos.jpg" class="thumbnail" data-lightbox="clinicos" data-title="Menú clínicos">
                    <img class="img-responsive" src="~/images/captures/clinicos.jpg" alt="Menú clinicos" />
                </a>
                <a href="~/images/captures/clinicos_1.jpg" data-lightbox="clinicos" data-title="Ventana de clínicos"></a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Establezca la fecha en la que se realizó el evento a los animales seleccionados.
            Indique el Diagnóstico, para ello escriba el código del diagnóstico y luego presione enter
            , también puede hacer doble clic en el cuadro de texto y consultar los códigos de diagnósticos no reproductivos en la ventana de Códigos Varios.
        </p>
        <p>
            Indique el Tratamiento que necesita reportar, para ello escriba el código del tratamiento y luego presione enter, también puede hacer doble clic en el cuadro de texto y consultar los códigos de tratamiento no reproductivos en la ventana de Códigos Varios. Si no desea escribir un tratamiento, puede dejar este campo en blanco y continuar, ya que es un campo opcional.
            Indique el porcentaje de eficiencia, el técnico responsable del evento y el comentario clínico si lo desea.
            Una vez suministrados los datos necesarios, haga clic en el botón guardar
            que se encuentra en la barra de botones.
        </p>
        <p>
            Toda la información procesada por medio de esta ventana, se guardará en la Historia Clínica de cada animal.
        </p>
    </div>
</article>