@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Hierros y señales";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta ventana le permite al usuario asignar o retirar uno o más Hierros a un lote de animales que existen en la hacienda o inclusive que ya estén eliminados.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Hierrosyseñales">Hierros y señales</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Hierrosyseñales">Hierros y señales</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Para realizar este procedimiento siga el procedimiento que se detalla a continuación:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/hierros_y_señales_eventos.jpg" class="thumbnail" data-lightbox="Hierrosyseñales" data-title="Menú hierros y señales">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/hierros_y_señales_eventos.jpg" alt="Menú hierros y señales" />
                </a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/hierros_y_señales_eventos_1.jpg" data-lightbox="Hierrosyseñales" data-title="Ventana de hierros y señales"></a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Genere una lista de animales</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    para ello seleccione el o los tipos de animales que desea visualizar en el listado. Luego Filtre por estatus Activos/Eliminados, deje marcado el estado de los animales a los cuales le realizará el evento. Escriba el código de la Vaquera (puede seleccionarla desplegando la ventana de Códigos varios) para visualizar únicamente a los animales de un determinado lote. Si todos los tipos y estados de animales permanecen activados y no escribió ninguna vaquera, el sistema toma por defecto el total de animales que se encuentren en la hacienda. En esta lista se presenta la siguiente información: Código Práctico, Código Único y el Estatus del animal, es decir, si se encuentra Eliminado o Activo.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Seleccione los animales</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    de la lista que se muestra en el extremo izquierdo seleccione los animales a los cuales desea asignar o retirar uno o más hierros, para ello haga clic en la casilla de verificación de cada animal. También puede utilizar los botones Marcar todos, Desmarcar todos e Invertir marcas y seleccionar así la cantidad de animales de forma más ágil.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Seleccione uno o más Hierros</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    de la lista de Hierros que se muestra del lado derecho marque (haciendo clic en la casilla correspondiente) cuál o cuáles hierros serán asignados a ese grupo de animales. Adicionalmente puede establecer si alguno de los hierros pertenece al Criador o al Último Propietario, para ello, con el hierro seleccionado haga clic en los botones Marcar/Desmarcar como Criador> y Marcar/Desmarcar como último Propietario>, sólo puede existir un hierro para ambas características.
                    Asigne o Retire el hierro de los animales que tiene marcados, para ello, utilice los botones Asignar
                    o Retirar
                    dependiendo del caso.
                </p>
            </div>
        </div>
        <p>
            Los cambios realizados pasarán a la sección de cambios en esta sesión y si hubo algún error en el proceso, el programa presentará un listado de esos errores que podrá imprimir.
        </p>
    </div>
</article>