@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Partos";
    ViewBag.SubTitle =
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta opción le permite informar los partos ocurridos en la hacienda.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Partos">Partos</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Partos">Partos</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Para agregar un nuevo parto debe escribir el código del animal (práctico o único) y presionar la tecla enter o ubique el número del animal a través de una lista, para esto haga doble clic en la casilla de código (práctico o único), el programa mostrará la ventana de seleccionar vientre.
                    Al tener al vientre necesario, el programa indicará la fecha estimada de parto y además los eventos reproductivos anteriores hasta el último parto, llene los campos del nuevo parto:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/partos.jpg" class="thumbnail" data-lightbox="Partos" data-title="Menú partos">
                    <img class="img-responsive" src="~/images/captures/partos.jpg" alt="Menú hierros y señales" />
                </a>
                <a href="~/images/captures/partos_1.jpg" data-lightbox="Partos" data-title="Ventana de partos"></a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Fecha</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Esta debe ser en orden cronológico con respecto al último evento reproductivo. Luego presione la tecla enter o colóquese con el ratón en la siguiente casilla.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4> Tipo de Parto</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Seleccione entre: normal, con Ayuda, distócico (difícil) o Mortinato (que la cría nació o las crías nacieron muerta). Luego presione la tecla enter o colóquese con el ratón en la siguiente casilla.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Reproductor</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Escriba el código práctico del reproductor con el cual se llevó a cabo el servicio, también puede seleccionar al animal a través de la lista de códigos. Luego presione la tecla enter o posicione el cursor en la siguiente casilla. La selección del reproductor indicara si es monta natural, inseminaciones artificiales, o trasplante.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Técnico</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Puede seleccionar al técnico a través de la lista de códigos. Si en las constantes de la configuración de la hacienda se ha establecido algún técnico como predeterminado, el código de este aparecerá; en la casilla, pero puede ser borrado para escribir otro. Luego presione la tecla enter o colóquese con el ratón en la siguiente casilla.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Comentario</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Permite escribir un comentario sobre el evento parto. Además de poder mantener el comentario en caso de que así lo desee con solo marcar la casilla de verificación que se encuentra en la parte inferior del comentario.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Si en las acciones de la configuración de la hacienda activó la opción de registrar cría(s) automáticamente, aparecerá activa la sección registro de crías en la que deberá indicar:
        </p>
    </div>
    <div class="col-md-12">
        <ul>
            <li>Machos - Hembras, Indique el número de machos y número de hembras resultado del parto.</li>
            <li>Vivos – Vivas, Indique la cantidad de acuerdo al sexo de las crías nacidas vivas.</li>
            <li>Código práctico de la cría</li>
        </ul>
        <p>
            Es necesario establecer un código práctico, si usted configuró su hacienda para que GanSoft lo genere, ese valor se mostrará automáticamente.
        </p>
    </div>
    <div class="col-md-12">
        <h4>Código único de la cría</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Es un valor requerido, debe indicar el código que le corresponde a ese animal. Si usted configuró su hacienda para que GanSoft utilice el código práctico igual al código único, este código se mostrará automáticamente al escribir el práctico.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Peso</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Seleccione el sexo de la cría, puede ser: Macho, Hembra, Macho/Macho, Macho/Hembra o Hembra/Hembra, estos 3 últimos, para partos de gemelos. Luego presione la tecla enter
                    o colóquese con el ratón en la siguiente casilla.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Vaquera</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Es un campo requerido. Puede estar predefinido en la configuración de la hacienda si usted lo estableció, pero de igual forma lo podrá modificar en este momento. De ser necesario, consulte la lista de códigos varios.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Sexo</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Seleccione el sexo de la cría, puede ser: Macho, Hembra.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Registrar</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Es una casilla de verificación utilizada para indicar si se desea registrar o no la cría.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Botón de remover</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Botón utilizado para remover la cría.
                </p>
            </div>
        </div>
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: Antes de guardar el parto también puede realizar un cambio de vaquera, actualizar el número de pezones, agregar una nueva condición corporal y modificar el servir con. Para esto sólo debe posicionarse en las casillas de la parte inferior de la ventana y luego notificar el parto.
                El sistema verifica que el animal esté preñado y que la fecha de parto se encuentre dentro de los rangos mínimo y máximo de días de gestación establecidos en la sección de Constante de la Configuración de la hacienda.
                Para el caso excepcional de reportar un parto a un animal cuyo estado reproductivo sea Vacío, el sistema le dará la opción de crear automáticamente los datos requeridos para registrar dicho parto, es decir, un servicio de monta, con el reproductor Indefinido (o el que usted haya establecido como reproductor indeterminado en la configuración de la hacienda) y una revisión posterior con diagnóstico de preñez; estos datos serán introducidos en el histórico de reproducción si usted así lo decide, todo esto de forma transparente, es decir, el usuario sólo tendrá que hacer clic en Si
                (en la ventana de notificación del evento que se despliega), en caso contrario seleccionar No
                y el servicio de monta, el diagnóstico y por ende el parto no son registrados.
                Este proceso, una vez culminado, introducirá los datos del parto al histórico de reproducción, incluirá las crías con todos sus datos (en caso de que así se encuentre configurado). Es tal vez, el proceso más complejo y delicado del sistema por la gran cantidad de operaciones de actualización que debe realizar, sin contar que debe actualizar también los datos de los reproductores, de los técnicos, calcular y actualizar los datos estadísticos.
                Si desea cancelar el nuevo parto salga de la ventana haciendo clic al icono de cancelar o esc.
                Los datos de partos ocurridos con anterioridad deben ser introducidos por el archivo de vientres a través del histórico de reproducción.
            </div>
        </div>
    </div>
</article>