@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Secado / Destete";
    Page.SubTitle = "";
}

<article class="row">
    <div class="col-md-12">
        <p class="lead">
            Por medio de ésta ventana es posible notificar los secados de cada uno de los vientres de la hacienda que se encuentren en producción y a su vez los destetes de sus respectivas crías, siempre que en la configuración de la hacienda se encuentre activa esta opción.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Secadodestete">Secado / Destete</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Secadodestete">Secado / Destete</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Para notificar un nuevo secado debe indicar el número del animal (código práctico o único) y presionar la tecla enter
                    , también puede seleccionar al animal a través de la ventana Seleccionar Vientre, que se muestra haciendo doble clic en la casilla del código (práctico o único). Podrá visualizar del lado derecho los Pesajes de Leche Anteriores que ha tenido ese vientre. Proceda a ingresar los datos correspondientes al secado:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/secado_destete.jpg" class="thumbnail" data-lightbox="Secadodestete" data-title="Menú de secado / destete">
                    <img class="img-responsive" src="~/images/captures/secado_destete.jpg" alt="Menú hierros y señales" />
                </a>
                <a href="~/images/captures/secado_destete_1.jpg" data-lightbox="Secadodestete" data-title="Ventana de secado / destete"></a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Fecha</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Día, mes y año en que ocurre el secado.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Peso</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    si lo conoce puede escribirlo en este momento y el programa actualizará esa información en el histórico de pesos corporales, de lo contrario podrá dejarlo en blanco ya que es un campo opcional. El peso debe estar reflejado en kilogramos.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Técnico</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    indique el nombre del técnico responsable del evento.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Comentario</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    puede especificar mayores detalles acerca del evento secado reportado.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <ul>
            <li> Destete Crías</li>
            <li> Practico: Indica el código practico de la cría a ser destetada </li>
            <li> Madre adoptiva: Al hacer doble clic en el campo que pertenece a madre adoptiva se desplegará una lista de códigos que le permitirá seleccionar un código madre para la cría.
            <li> Vaquera destino: Al hacer doble clic en el campo que pertenece a vaquera se desplegará una lista de códigos que le permitirá seleccionar una vaquera para la cría.
            <li> Peso: Permite indicar el peso al destete de la cría. </li>
            <li> Altura: Permite indicar la altura al destete de la cría. </li>
        </ul>
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: Antes de pasar a notificar un secado / destete a otro animal, puede realizar un cambio de vaquera, actualizar el número de pezones, agregar una nueva condición corporal y modificar el servir con. Servir con...  de la adulta hembra con parto aborto seleccionada.
                Si el vientre al cual se le notificará el secado, tiene un aborto y las crías aún son becerros, el sistema exigirá los pesos al destete de estas.
            </div>
        </div>
        <p>
            El sistema acepta sólo aquellos vientres que no estén secas y que la fecha de secado sea mayor a la fecha de comienzo de lactancia. También actualiza el peso de destete del becerro, su vaquera destino, su estado (si así estuviera configurado) y actualiza el inventario de mautes y becerros.
            Si desea cancelar el nuevo parto salga de la ventana haciendo clic al icono de cancelar o presione la tecla esc.
        </p>
    </div>
</article>