@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Servicios";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}
<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta opción permite notificar las inseminaciones artificiales, montas naturales o trasplantes de embriones, que se han realizado a las hembras existentes en el archivo de vientres.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Servicios">Servicios</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Servicios">Servicios</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Puede agregar un servicio por animal y por grupo. Para ello, registre el número del animal (código práctico o único) y presione la tecla enter, también puede seleccionar al animal a través de la ventana seleccionar vientre, que se muestra haciendo doble clic en la casilla del código (práctico o único). En esta ventana verá del lado derecho los eventos reproductivos anteriores que ha tenido ese vientre, y deberá llenar los campos del nuevo servicio:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/servicios.jpg" class="thumbnail" data-lightbox="Servicios" data-title="Menú de servicios">
                    <img class="img-responsive" src="~/images/captures/servicios.jpg" alt="Menú de servicios" />
                </a>
                <a href="~/images/captures/servicios_1.jpg" data-lightbox="Servicios" data-title="Ventana de servicios"></a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Fecha</h4>
        <div class="row">
            <div class=" col-md-12">
                <p>
                    Esta debe ser en orden cronológico con respecto al último evento reproductivo. Luego presione la tecla enter o posicione el cursor en la siguiente casilla
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Horario</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Seleccione si el servicio se realizó en la mañana (AM) o en la tarde (PM). Luego presione la tecla enter
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Reproductor</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Escriba el código práctico del reproductor con el cual se llevó a cabo el servicio, también puede seleccionar al animal a través de la lista de códigos. Luego presione la tecla Enter
                    o posicione el cursor en la siguiente casilla. La selección del reproductor indicara si es monta natural, inseminaciones artificiales, o trasplante
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Técnico</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    puede seleccionar al técnico a través de la lista de códigos. Si en las constantes de la configuración de la hacienda se ha establecido algún técnico como predeterminado, el código de éste aparecerá en la casilla, pero puede ser borrado para escribir otro. Luego presione la tecla enter o colóquese con el ratón en la siguiente casilla.
                    Dosis, defina el número de pajuelas de ese semen que utilizó, este valor puede estar entre 0.5 y 2. Luego presione la tecla enter o colóquese con el ratón en la siguiente casilla.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Comentario</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Permite escribir un comentario sobre el evento servicio. Además de poder mantener el comentario en caso de que así lo desee con solo marcar la casilla de verificación que se encuentra en la parte inferior del comentario.
                    Técnico, seleccione al técnico responsable del servicio.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: Active la opción Mantener Comentario si desea conservar el detalle del comentario para los siguientes eventos a reportar.
            </div>
        </div>
        <p>
            Luego haga clic en el icono de Guardar
            o presionando la tecla enter hasta que la notificación pase hasta la sección servicios en esta sesión.
        </p>
    </div>
    <div class=" col-md-12">
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: Antes de guardar el servicio también puede realizar un cambio de vaquera, actualizar el número de pezones, agregar una nueva condición corporal y modificar el servir con. Para esto sólo debe posicionarse en las casillas de la parte inferior de la ventana y luego notificar el servicio.
                El sistema supervisará que las fechas de estos servicios sean mayores a la fecha del último parto/aborto (sólo si es vientre), mayor a la fecha del último celo (si tuviera un celo reportado), mayor a la fecha de la última revisión (si tuviera una revisión) y que la hembra no esté preñada. Para todos estos casos el programa dará los mensajes correspondientes de advertencia. Este proceso actualizará la información del animal, su estado reproductivo y también actualizará los datos de los reproductores y los técnicos.
                Si desea cancelar el nuevo servicio salga de la ventana haciendo clic al icono de cancelar o esc.
            </div>
        </div>
    </div>
</article>