@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Hacienda";
    Page.SubTitle = "Opciones del menú principal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Este módulo le permite realizar todas las operaciones relacionadas con seleccionar la hacienda registrada con la que desea trabajar; además, muestra los Datos Generales, Plan Sanitario y la Configuración de cada una de las haciendas registradas en el sistema. Las opciones que se encuentran dentro de ésta categoría son las siguientes:
                </p>
                <ul>
                    <li> Seleccionar </li>
                    <li>Datos Generales</li>
                    <li>Configuración </li>
                    <li>Inventario </li>
                    <li>Avisos </li>
                    <li>Planes Sanitarios </li>
                    <li>Códigos </li>
                </ul>


            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/Areas/GanSoftPro/Content/img/captures/hacienda.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/hacienda.jpg" alt="Menú hacienda" />
            @*<a href="~/Areas/GanSoftPro/Content/img/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>*@
        </a>
    </div>
</div>
