@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Ventanas";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta opción permite personalizar la forma de visualización de las ventanas activas en GanSoft.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Ventanas">Ventanas</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Ventanas">Ventanas</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Debido a que el sistema es multiventana, se activa un menú adicional que presenta al usuario todas las opciones de visualización
                    de las ventanas que se encuentran activas. Las opciones son las siguientes:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/ventana.jpg" class="thumbnail" data-lightbox="Ventana" data-title="Ventana">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/ventana.jpg" alt="Ventana" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <ul>
            <li>	Cascada: Presenta una ventana tras otra.</li>
            <li>	Mosaico vertical: Permite visualizar todas las ventanas activas, organizadas automáticamente una al lado de la otra.</li>
            <li>	Mosaico horizontal: Permite visualizar todas las ventanas activas, organizadas automáticamente una arriba de la otra.</li>
            <li>	Cerrar Todo: Al seleccionar esta opción el sistema cierra automáticamente todas las ventanas activas, quedando abierto el menú principal del sistema.</li>
        </ul>
        <p>
            Adicionalmente, en esta opción se presentan cada una de las ventanas activas en el sistema, de forma tal de seleccionar por medio de este menú la ventana activa
            con la que desea trabajar.
        </p>
    </div>
</article>