@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Ver";
    Page.SubTitle = "Opciones del menú principal";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Este módulo permite personalizar la forma de visualizar la pantalla principal del GanSoft. Las operaciones que puedo realizar en esta opción son:
                </p>
                <ul>
                    <li> Barra de Menús </li>
                    <li> Barra de Navegación </li>
                    <li> Barra de Estado </li>
                </ul>


            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/ver.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/ver.jpg" alt="Menú ver" />
            @*<a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
                <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
                <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>*@
        </a>
    </div>
</div>
