@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Configuración";
    Page.SubTitle = "Opciones del menú hacienda";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Es considerada una de las opciones de mayor importancia del programa debido a que se encarga de la definición de características que permiten que el sistema se adapte a las necesidades y requerimientos del usuario, configurando cada una de las haciendas registradas en el programa de acuerdo a los valores reales con los que se trabaja en la misma. Logrando así establecer las opciones que harán su sistema lo más parecido posible al manejo de campo.<br />

                    Esta ventana es accesible desde el menú Hacienda opción Configuración y se encuentra dividida en una serie de fichas para facilitar la ubicación de las características de acuerdo a su clasificación:<br />
                    Constantes<br />
                    Manejo<br />
                    Estadísticas<br />
                    Avisos<br />
                    Concentrados<br />
                    Automatizaciones<br />

                    Inicialmente GanSoft establece para cada hacienda una configuración estándar predeterminada, pero ésta puede ser modificada de acuerdo al criterio de cada usuario, para adaptar el programa a sus necesidades específicas. El programa GanSoft permite la separación por haciendas de las especies animales, adaptándose a múltiples sistemas de producción animal, registrando eventos asociados con la especie del animal indicado en la configuración de la hacienda.<br />

                    Nota: Si desea realizar algún cambio en ésta ventana y tiene alguna duda consulte con su proveedor.<br />

                    Constantes de la configuración de la hacienda*************************************<br />
                    La ficha denominada Constantes permite definir algunos intervalos necesarios para que el programa pueda calcular ciertas fechas de eventos y a la vez podrá establecer una serie de Códigos para indicar al programa valores predeterminados y el comportamiento que el sistema asumirá al momento de procesar los eventos. A continuación, se detallan las secciones en que se encuentra dividida la ficha:<br />

                    Días para establecer: Revisión post-servicio, revisión post-parto, entre revisión y revisión, secado pre-parto, Cálculo del Próximo Celo, Cálculo próximo parto, mínima gestación, máxima gestación, Cálculo macro índice reproductivo. Estas casillas permiten especificar la cantidad de días para que el programa calcule la fecha de los eventos respectivos. Si desea trabajar con una especie diferente a la bovina (pero con un comportamiento reproductivo similar) esta sección es la indicada para establecer los criterios respectivos.<br />

                    Nota: El macro índice reproductivo es el índice de evaluación que permite medir la situación reproductiva de un rebaño. Este parámetro se calcula como el cociente entre la cantidad de vacas con más de 150 días vacías entre la cantidad total de vacas vacías del rebaño, el resultado se multiplica por 100 para expresar el valor en porcentaje.<br />

                    Códigos: Por medio de esta opción el usuario puede definir los códigos para Diagnóstico en espera, Diagnóstico preñada, Técnico Predeterminado, además de reproductor y Técnico Indeterminados.<br />

                    Límites para cálculos: presenta en dos subgrupos los límites inferior y superior para las estadísticas de producción a 244, 270 y 305 días y un segundo grupo para los pesos corporales límites inferior y superior ajustado a 205 días, 12 meses, 18 meses y 24 meses.<br />

                    Ordeños: En esta parte es posible definir el valor de máximos ordeños por día y la producción máxima por ordeño.<br />

                    Partos: Desde esta sección es posible definir el máximo de crías por parto y por especie (para los casos de partos múltiples). El sistema le solicitará un máximo de crías tomando en cuenta el valor establecido en esta parte de la configuración.<br />

                    Nota: En la versión GanSoft 7 una de las mejoras en cuanto a la interfaz se basa en la posibilidad de abrir varias ventanas, esto le facilitará el uso del programa de forma tal de poder registrar por ejemplo en Haciendas Códigos Varios algún diagnóstico mientras actualiza las constantes en la configuración.<br />

                    Esta sección presenta un botón de restablecer en caso de que desee volver la configuración de constantes a los valores que trae el sistema por defecto.<br />

                    Manejo***********************************<br />
                    Desde esta opción es posible habilitar o deshabilitar los módulos a utilizar en el sistema  de forma tal de adaptar el sistema al manejo en su hacienda y solo mostrar las opciones utilizadas en su hacienda. Para ello, en esta parte de la configuración podrá desactivar las opciones que no maneje, entre las cuales se encuentran las siguientes:<br />
                    •	Composiciones raciales<br />
                    •	Condiciones corporales<br />
                    •	Genealogía<br />
                    •	Historias clínicas<br />
                    •	Histórico de comentarios<br />
                    •	Pesaje de leche y lactancias<br />
                    •	Pesos corporales<br />
                    •	Planes sanitarios<br />
                    •	Variables del usuario<br />

                    Igualmente, es posible habilitar diagnósticos al notificar revisión, que le permite establecer los diagnósticos a especificar al momento de registrar un evento de tipo revisión. Entre ellos:<br />
                    •	Cervix<br />
                    •	Ovario derecho<br />
                    •	Ovario izquierdo<br />
                    •	Útero<br />
                    •	Vagina<br />

                    Estadísticas **************************************<br />
                    Por medio de esta opción es posible visualizar un resumen de los valores estadísticos de reproducción, producción y de crecimiento calculados por el sistema.<br />

                    Las variables de Reproducción que se calculan son las siguientes: Edad en Meses al Primer Servicio, al Primer Parto, Intervalo Parto- Primer Celo (días), Intervalo Parto-Primer Servicio (días), Días de Gestación, Intervalo Parto-Concepción (días), Intervalo Parto-Parto (días), Intervalo Primer Servicio-Concepción (días), Intervalo Entre Celos (días), Inseminaciones por Concepción, Montas por Concepción, Servicios por Concepción, Revisiones por Parto, Intervalo entre Revisiones (días).<br />

                    Las variables de Producción que se calculan son las siguientes: Días en Producción, Producción Total, Producción a 244 días, Producción 270 días, Producción a 305 días, Días Seca, Producción Entre Partos, producción entre lactancias y Ganancia Entre Partos.<br />

                    Cabe destacar que a partir de GanSoft 7.0 es posible evaluar además de la producción entre partos la producción entre manejos.<br />

                    Por su parte, es posible visualizar las variables de Crecimiento en Peso que se calculan, separadas dependiendo del sexo mostrándose las siguientes: Peso al Nacer, Peso al Destete, Peso Ajustado a 205 días, Peso Ajustado a 12 meses, Peso Ajustado a los 18 meses, Peso Ajustado a los 24 meses, Crecimiento en Altura, igualmente separadas por el sexo. Mostrándose las siguientes: Altura al Nacer, Altura al Destete, Altura Ajustada a los 205 días, Altura Ajustada a los 12meses, altura ajustada a los 18 y a los 24 meses.<br />

                    Para calcular o actualizar los datos estadísticos puede presionar el botón Calcular
                    , ubicado en la parte inferior de la ventana.<br />

                    Nota: Puede activar o desactivar las estadísticas que desea manejar en su hacienda.<br />

                    Avisos*************************************<br />
                    En esta sección puede habilitar o deshabilitar los chequeos que el sistema realizará automáticamente al inicio para mostrar en la ventana de Avisos de Vencimiento.<br />

                    Nota: El valor numérico que indique al lado derecho de cada opción, representa los días que serán tomados en cuenta para mostrar los avisos de cada tipo.<br />

                    Habilitar avisos generales (días)
                    Celos probables con, En caso de encontrarse activa, permite visualizar los futuros celos que podrían tener los vientres.<br />
                    Citas veterinarias pendientes, Permite listar los vientres que tengan pendiente una cita veterinaria.
                    Planes sanitarios con Vencimiento, utilice ese aviso para que GanSoft le recuerde cuáles planes sanitarios están próximos a vencerse.<br />
                    Partos Probables, Permite determinar con cuánto tiempo de anticipación desea que el sistema le liste las vacas que están próximas a parir.<br />
                    Secados Probables, Emplee este aviso para mantenerse informado acerca de las vacas cuyo secado se encuentra próximo.<br />


                    Habilitar avisos por inactividad (días)
                    Sin información con más de, esta opción permitirá ver listados por categoría de animal que no tiene ningún tipo de actividad registrada en GanSoft durante el periodo de tiempo previamente establecido.<br />
                    Active las opciones requeridas, estableciendo el periodo de tiempo en días para cada una de ellas.<br />

                    Por ejemplo, si desea que al iniciar el programa los avisos de vencimiento muestren sólo los partos probables desde la fecha actual hasta 15 días en adelante y los planes próximos a vencer dentro de 10 días. Desactive las otras opciones: Citas Pendientes, Partos Probables, Secados probables y Sin actividad con más de; proceda a establecer el valor para los partos probables de 15 días y para los planes con vencimiento 10 días. Luego de este procedimiento cada vez que inicie el programa o seleccione una hacienda aparecerán los partos probables de la fecha a 15 días y los planes con vencimiento a 10 días. Cabe destacar que igualmente aparecerán los planes y partos vencidos, estos estarán representados por números negativos.<br />

                    Concentrados*************************************<br />
                    A través de ésta ficha de la configuración es posible definir las fórmulas a utilizar para el cálculo de la asignación de alimento concentrado a cada uno de los vientres que se encuentran en producción, tomando en cuenta cuatro (4) variables: producción diaria de leche, estado reproductivo, condición corporal y días en producción, las cuales es posible definir haciendo uso de valores de tres tipos:<br />

                    Rango: Donde se establecen tres parámetros a mencionar: límite inferior, límite superior y cantidad de concentrado a asignar. Ejemplo: RAN (8:12:2). Suponiendo que estamos hablando de Producción diaria, el valor 8 indica el límite inferior, 12 el límite superior y 2 la cantidad de concentrado a asignar al animal, es decir, animales cuya producción diaria se encuentre entre 8 y 12, obtendrán 2 unidades de alimento concentrado.<br />

                    Relación: Es posible establecer variables de dependencia que permitan calcular las unidades de alimento concentrado que le corresponden al animal tomando en cuenta la producción diaria de leche. Ejemplo: REL (8:12:3:1), donde el valor 8 indica el límite inferior, 12 el límite superior, 3 indica el valor de la relación en función de la producción diaria y 1 la cantidad de alimento concentrado que recibirá el animal por cada unidad de relación, es decir, si un animal produce 9 kilos de leche, le corresponde por la relación 3 kilos de alimento concentrado, o sea, (9/3)*1.<br />

                    Opción: Se refiere a la cantidad de alimento concentrado a asignar a un animal tomando en cuenta el tipo o grupo al cual pertenece. Ejemplo: En caso de referirse al estado reproductivo del animal, es posible utilizar OPC (P:2), es decir, que si el estado reproductivo de la vaca es Preñada, obtendrá 2 unidades de alimento concentrado. En el caso de tener la fórmula OPC (V:3) aplicada al estado reproductivo, se interpreta que si la vaca se encuentra vacía, le serán asignadas 3 unidades de alimento concentrado.<br />

                    Cada una de las variables definidas anteriormente, han sido especialmente diseñadas para obtener resultados confiables de acuerdo a las necesidades del usuario.<br />

                    Para proceder a realizar el cálculo, debe establecer los valores a utilizar para cada una de las variables (puede utilizar las variables deseadas, para ello debe activar la casilla de verificación correspondiente). Al tener activa esta opción, luego de registrar un evento tipo pesaje, el sistema notifica la ración calculada de acuerdo a los parámetros establecidos en la configuración.<br />

                    Automatizaciones*************************************<br />
                    Se considera una de las opciones de configuración más importantes del sistema, debido a que permite al usuario especificar las características presentes en cada una de las haciendas registradas en el programa.<br />

                    Desde ésta ficha, el usuario podrá establecer algunas funciones que el programa tomará en cuenta para que usted trabaje con mayor comodidad. Estos se encuentran divididos en:<br />
                    •	Generales: Presenta valores que puede activar y desactivar relacionados con el manejo general de su hacienda.<br />
                    •	Registrar crías al notificar un parto: Desde esta sección puede establecer el formato a utilizar para los códigos en las crías al nacer. Para ello, cuenta con un asistente denominado generador de códigos.<br />
                    •	Cambios de estado automáticos: Le permitirá establecer el valor para el cambio automático de estado del animal por peso (representado en unidades) y por edad (representado en días).<br />
                    •	Cambios de locaciones automáticas: En esta sección puede configurar a que locación desea cambiar al animal según los eventos registrados.<br />

                    Algunas de estas operaciones se encuentran pre-establecidas, pero puede modificarlas de acuerdo a sus necesidades en caso de que así lo requiera. Para activar o desactivar una acción sólo debe hacer clic en la necesaria y ésta aparecerá marcada (activa) o desmarcada (desactivada) dependiendo del caso.<br />

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/configuracion_1.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/configuracion_1.jpg" alt="Configuración" />
            <a href="~/images/captures/configuracion.jpg" data-lightbox="roadtrip">Configuración</a>
        </a>
    </div>
</div>
