@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Inventario";
    Page.SubTitle = "Opciones del menú hacienda";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Permite consultar la cantidad de animales que se encuentran en la hacienda activa. Por defecto se muestran todas las vaqueras, si lo desea puede especificar solo alguna(s) de ellas para visualizar el detalle en forma gráfica y totales de animales.
                </p>
                <p>
                    El inventario NO puede ser modificado, ya que el sistema se encarga de su actualización automática a medida que se agregan y eliminan animales, así como también al informar eventos de partos, destetes, entre otros.
                </p>
                <p>
                    Además, es posible generar un reporte detallado del inventario, en el cual se presenta tanto el total de animales por categoría como el total por vaquera. Para ello, debe hacer clic en el botón Imprimir
                    situado en la barra de menú y se desplegará una nueva ventana con el grafico y los totales existentes en la hacienda, la cual podrá imprimir o exportar hacia otras aplicaciones haciendo uso de los botones ubicados en la parte superior de la misma.
                </p>
                <p>
                    Si el usuario selecciona alguna vaquera en particular, al presionar el botón Imprimir visualizará un listado con los datos básicos de los animales que se encuentran en la vaquera o corral seleccionado. Estos datos son: Código Práctico, Código Único, Estado, Fecha de Nacimiento, Padre, Madre, Color y composición Racial.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/inventario_1.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/inventario_1.jpg" alt="Inventario" />
            <a href="~/images/captures/inventario_2.jpg" data-lightbox="roadtrip"></a>
        </a>
    </div>
</div>