@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Avisos";
    Page.SubTitle = "Opciones del menú hacienda";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Esta ventana puede ser configurada por el usuario por medio del Menú Hacienda-Configuración: pestaña Avisos. El sistema presenta avisos referentes a los próximos Partos, Celos Probables, Planes Sanitarios con Vencimiento, Probables Secados y las Citas Pendientes.<br />

                    El usuario especificará por medio de la configuración los días o el valor estimado para el aviso de cada evento. Si no desea que el sistema muestre esta ventana deberá desmarcar esta opción por medio de Opciones Generales de la configuración o marcar en la misma ventana de Avisos la casilla correspondiente a No Mostrar, ubicada en la parte inferior de la ventana. Para ello sólo debe hacer un clic en dicha casilla.<br />

                    Esta ventana presenta los listados de avisos pendientes. Algunos de ellos son los siguientes:<br />

                    Citas Veterinarias vencidas: Se presenta el código Práctico y Único del animal, Número de Partos, Fecha del Último Parto/Aborto, Número de Inseminaciones, Montas y Trasplantes, Fecha del Último Servicio, Número de Revisiones, Fecha de la Última Revisión, Último diagnóstico, Estado Reproductivo, Fecha de la Próxima Revisión y la cantidad de Días para el vencimiento de las citas.<br />

                    Planes Sanitarios Vencidos: El sistema muestra los siguientes datos: Código del Plan Sanitario, Descripción, Fecha de la Última Aplicación, Intervalo, Fecha de la Próxima Aplicación y los Días para el vencimiento del Plan Sanitario.<br />

                    Próximos Partos: El sistema cuenta con los siguientes datos: Código del animal (práctico y único), el Número de Partos, la Fecha del Último Parto/Aborto, Número de Inseminaciones, Montas y Trasplantes, Último Servicio del vientre, el Código del Toro/Semen/Embrión, la Fecha Estimada para el Parto y los Días de retraso o los días faltantes para el parto estimado.<br />

                    Próximos Secados: Código Práctico y Único del animal, el Número de Partos, la Fecha del Último Parto/Aborto, Nº de Inseminaciones, Montas y Trasplantes, Ultimo Servicio del animal, el Código del Toro/Semen/Embrión, Fecha del Probable Secado, y los Días de retraso o los días faltantes para el secado.<br />

                    Inactividad: El sistema presentará los listados de animales inactivos o sin información en el periodo de días indicados para esta opción en la configuración. En cualquier situación el programa mostrará: Código Práctico y Único del animal, estado del animal, vaquera, fecha del último evento, último evento notificado a ese animal y los días que han transcurrido desde ese momento hasta la fecha actual.<br />

                    Nota: Si el valor de los días aparece negativo, indica que ya la fecha estimada del evento pasó.

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/avisos_1.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/avisos_1.jpg" alt="Aviso" />
            <a href="~/images/captures/avisos_2.jpg" data-lightbox="roadtrip">Aviso</a>
        </a>
    </div>
</div>
