@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Seleccionar";
    Page.SubTitle = "Opciones del menú hacienda";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Esta ventana es visible si tiene más de una hacienda registrada en el programa, le permite seleccionar la hacienda con la que desea trabajar.<br />

                    Para realizar la selección haga clic sobre el nombre de la hacienda y luego clic en el icono de Seleccionar, también puede pulsar la tecla Enter luego de tener seleccionada la hacienda o hacer doble clic en el nombre de la misma.<br />

                    También puede cambiar la hacienda activa desde la barra de menú en el combo de opciones de haciendas o en la barra de estado haciendo clic sobre la hacienda activa y seleccionando la hacienda con la que desea trabajar.<br />

                    Nota: Si usted solo posee una Hacienda dentro de GanSoft, entrará inmediatamente a ésta sin pasar por esta ventana.<br />

                    En caso de que requiera Agregar, Modificar o Eliminar Haciendas, debe comunicarse con su proveedor.<br />

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/seleccionar.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/seleccionar.jpg" alt="Seleccionar" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Seleccionar</a>
        </a>
    </div>
</div>
