@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bienvenido al manual de Gansoft Pro";
    Page.SubTitle = "Pasos para Desinstalar el Sistema";
}

<div class="row">
    <div class="col-md-12">
        <h2>
            Guía que describe detalladamente la forma correcta de Desinstalar el sistema de su ordenador.
        </h2>
    </div>
    <div class="col-md-2 text-center">
        <img class="img-responsive" src="~/images/logo_gansoft.png" alt="Logo" />
    </div>
    <div class="col-md-10">
        <h2>
            Haga una copia de seguridad de los datos de GanSoft antes de realizar cualquier operación. Éste proceso se recomienda como medida preventiva ya que al desinstalar el programa no se borran los datos.
        </h2>
    </div>
    <div class="col-md-12">
        <h3>
            Para proceder a desinstalar GanSoft, debe seguir los siguientes pasos:
        </h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li>Windows XP</li>
                <li>1. Haga clic en Inicio, Configuración, Panel de Control</li>
                <li>2. Seleccione Agregar o Quitar Programas</li>
                <li>
                    3. Seleccione la Aplicación de GanSoft en la lista y haga<br /> clic en el botón quitar, se mostrará una
                    pregunta durante<br />  el proceso en la que deberá seleccionar Remover Todo.
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>Windows 7</li>
                <li>1. Haga clic en Inicio, Panel de Control</li>
                <li>2. Seleccione Programas</li>
                <li>3. Seleccione Programas y Caracteristicas</li>
                <li>4. Seleccione la aplicación de GanSoft en la lista y haga<br /> clic en el botón Desinstalar, se presentará
                    un mensaje de<br /> confirmación que le preguntará si realmente quiere remover<br /> la aplicación, seleccione Sí.
                </li>
            </ul>
        </div>
    </div>
</div>
