@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Principal";
    Page.SubTitle = "Acerca de sus animales";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
