@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Cerrar sesión";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta opción permite cambiar el usuario que se encuentra activo durante la ejecución del sistema
        </p>
        <div class="col-md-12">
            <ul class="index">
                <li>
                    <a href="#Cerrarsesion">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="Restaurar datos">Cerrar sesión</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Para ello el sistema muestra una ventana que contiene dos casillas, donde debe introducir el nombre de usuario, presionar Enter o hacer clic en el siguiente cuadro de texto, introducir la contraseña y presionar Enter o presionar el botón Aceptar Contraseña.
                </p>
                <p>
                    El programa verificará que el usuario exista y que la contraseña ingresada sea correcta. Si la clave no coincide, se mostrará el respectivo mensaje y no realizará el cambio. Si desea abandonar la ventana presione la tecla Esc , o haga clic en el botón Cancelar y el sistema se cerrará.
                </p>
                <p>
                    También puede entrar a esta ventana al seleccionar la opción cerrar sesión desde la barra de tareas donde visualiza permanentemente el usuario activo
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/cerrar_sesion1.jpg" data-lightbox="Cerrar sesión" data-title="Cerrar sesión">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/cerrar_sesion1.jpg" alt="Cerrar Sesión" />
                </a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/cerrar_sesion2.jpg" data-lightbox="Cerrar sesión"></a>
            </div>
        </div>
    </div>
</article>