@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Plantillas de importación";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            A través de esta ventana es posible crear formatos y guardarlos como plantillas de datos aquellos registros contenidos en una hoja de cálculo de Excel, de forma tal que puedan ser incorporados a la base de datos de GanSoft.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Plamtilladeimportacion">Plantillas de importación</a>
            </li>
            <li>
                <a href="#Crearunnuevoformatooplantilla">Crear un nuevo formato o plantilla</a>
            </li>
            <li>
                <a href="#Estadodelanimal">Estado del animal</a>
            </li>
            <li>
                <a href="#Sexodelacria">Sexo de la cría</a>
            </li>
            <li>
                <a href="#Tipoaborto">Tipo aborto</a>
            </li>
            <li>
                <a href="#Tipomovimientoenlainscripciondeanimales">Tipo movimiento en la inscripción de animales</a>
            </li>
            <li>
                <a href="#Tipomovimientoenlaeliminaciondeanimales">Tipo de movimiento en la eliminación de animales</a>
            </li>
            <li>
                <a href="#Tipomedicion">Tipo medición (pesos corporales)</a>
            </li>
            <li>
                <a href="#Tipoparto">Tipo parto (valor predeterminado)</a>
            </li>
            <li>
                <a href="#Tiposervicio">Tipo servicio (valor predeterminado)</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Plantilladeimportacion">Plantillas de importación</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Este proceso permite facilitar la importación de datos de romanas electrónicas de cualquier marca y de ordeños mecánicos que tengan interfaz con una computadora y puedan pasar la información a un archivo externo.
                </p>
                <p>
                    Es recomendable que, antes de hacer una importación de datos desde formato externo, se realice un respaldo de datos como medida preventiva. Usted podrá importar los siguientes eventos hasta GanSoft desde las diferentes fuentes mencionadas :
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/images/captures/plantillas_de_importancion.jpg" class="thumbnail" data-lightbox="Plantillas de importación" data-title="Plantillas de importación">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/images/captures/plantillas_de_importancion.jpg" alt="Plantillas de importación" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <ul>
            <li> Abortos</li>
            <li> Abortos históricos</li>
            <li> Agregar comentarios al árbol genealógico</li>
            <li> Cambio de asociación</li>
            <li> Cambio de clasificación</li>
            <li> Cambio de código único de la madre</li>
            <li> Cambio de código único del padre</li>
            <li> Cambio de color</li>
            <li> Cambio de composición racial</li>
            <li> Cambio de condición corporal</li>
            <li> Cambio de cruzar con</li>
            <li> Cambio de descartado</li>
            <li> Cambio de estado</li>
            <li> Cambio de fecha de nacimiento</li>
            <li> Cambio de fecha de registro</li>
            <li> Cambio de identificador electrónico</li>
            <li> Cambio de locación</li>
            <li> Cambio de madre adoptiva</li>
            <li> Cambio de nombre del animal</li>
            <li> Cambio de número de parto de la madre</li>
            <li> Cambio de número de registro</li>
            <li> Cambio de número de tetas</li>
            <li> Cambio de origen de nacimiento</li>
            <li> Cambio de procedencia del animal</li>
            <li> Cambio de propietario</li>
            <li> Cambio de raza</li>
            <li> Cambio de receptora</li>
            <li> Cambio del código práctico</li>
            <li> Cambio del código único</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li> Cambio fecha próximo examen reproductivo</li>
            <li> Celos sin servicio</li>
            <li> Comentario general</li>
            <li> Diagnósticos y tratamientos clínicos</li>
            <li> Eliminación de animales activos</li>
            <li> Fotografía del animal</li>
            <li> Inscripción de animales</li>
            <li> Inscripción de técnicos</li>
            <li> Inventario</li>
            <li> Lactancia inducida</li>
            <li> Lactancias históricas</li>
            <li> Lactancias inducidas históricas</li>
            <li> Observaciones en eventos</li>
            <li> Partos</li>
            <li> Partos históricos</li>
            <li> Pesajes de leche</li>
            <li> Pesajes de leche históricos</li>
            <li> Pesos corporales</li>
            <li> Pesos corporales históricos</li>
            <li> Producción de embriones históricos</li>
            <li> Producción embriones</li>
            <li> Prueba de mastitis</li>
            <li> Pruebas de mastitis históricas</li>
            <li> Revisiones/Palpaciones</li>
            <li> Revisiones/Palpaciones históricas</li>
            <li> Secados/Destetes</li>
            <li> Servicios</li>
            <li> Servicios históricos</li>
            <li> Traslado a otra hacienda</li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Procedimientoparaunanuevaplantilla">Crear un nuevo formato o plantilla</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Para agregar, haga clic en el botón crear un nuevo formato.
                </p>
                <p>
                    Nombre de la plantilla, establezca el nombre que identificará al formato. Utilice nombres que le hagan recordar fácilmente la función de ese formato.
                </p>
                <p>
                    Siga las siguientes instrucciones para establecer las definiciones de eventos (Único, Práctico, Identificador electrónico y Número de registro) que es lo que se quiere importar
                </p>
                <p>
                    Columna, debe especificar la columna en la que se encuentra el código.
                </p>
                <p>
                    Hoja, escriba el nombre de la hoja de Excel donde se encuentra la información del evento seleccionado
                </p>
                <p>
                    Eliminar, haga clic en este botón si desea borrar las especificaciones del evento a importar.
                </p>
                <p>
                    Los campos del evento indicadas en la sección definiciones de eventos se mostrarán en la sección campos del evento.
                </p>
                <p>
                    Los siguientes campos deben ser introducidos de la forma sugerida por los desarrolladores a causa de los diferentes idiomas utilizados en el programa:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/images/captures/plantillas_de_importancion.jpg" class="thumbnail" data-lightbox="Plantillas de importación" data-title="Plantillas de importación">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/images/captures/plantillas_de_importancion.jpg" alt="Plantillas de importación" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <ul>
            <li>Composición racial: Utilice el formato de la composición racial resumida ( ej: BB50HN50 )</li>
            <li>Desactivado: Use 1 para Sí o Verdadero, 0 para No o Falso</li>
            <li>Descartado: Use 1 para Sí o Verdadero, 0 para No o Falso</li>
        </ul>
    </div>
    <div class="col-md-6">
        <p> Estado del animal:</p>
        <ul>
            <li>Lactante hembra (becerra o equivalente en otra especie)</li>
            <li>Hembra joven destetada (mauta o equivalente en otra especie)</li>
            <li>Hembra adulta sin parto, aborto o lactancia ind. (novilla o equivalente en otra especie)</li>
            <li>Hembra adulta con parto, aborto o Lactancia ind. (vaca o equivalente en otra especie)</li>
            <li>Lactante macho (becerro o equivalente en otra especie)</li>
            <li>Macho joven destetado (maute o equivalente en otra especie)</li>
            <li>Macho adulto no reproductor (novillo o equivalente en otra especie)</li>
            <li>Macho adulto reproductor. (Toro o equivalente en otra especie)</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li>Semen</li>
            <li>Embrión</li>
            <li>Hora de servicio: 0 para AM, 1 para PM</li>
            <li>Método de fertilización: 0 para MOET, 1 para FIV</li>
            <li>Origen de nacimiento: 0 para monta, 1 para Inseminación, 2 para trasplante</li>
            <li>Registrar cría: Use 1 para sí o verdadero, 0 para no o falso</li>
            <li>Secado prematuro: Use 1 para sí o verdadero, 0 para no o falso</li>
            <li>Servicio calculado: Use 1 para sí o verdadero, 0 para no o falso</li>
        </ul>
    </div>
    <div class="col-md-12">
        <p>Sexo de la cría:</p>
        <ul>
            <li>0	para Hembra</li>
            <li>1 para Macho</li>
        </ul>
        <p> Tipo aborto:</p>
        <ul>
            <li>0 para aborto sin lactancia (valor predeterminado)</li>
            <li>1 para aborto con lactancia</li>
        </ul>
        <p>Tipo movimiento en la inscripción de animales:</p>
        <ul>
            <li>1 Ajuste positivo (valor predeterminado)</li>
            <li>2 Compra</li>
            <li>3 Donación entrante o recibida</li>
        </ul>
        <p>Tipo movimiento en la eliminación de animales:</p>
        <ul>
            <li>0 Muerte</li>
            <li>1 Venta</li>
            <li> Sacrificio</li>
            <li>Donación salida o entregada</li>
            <li>Ajuste negativo (valor predeterminado)</li>
            <li>Robo</li>
        </ul>
        <p>Tipo medición (pesos corporales):</p>
        <ul>
            <li>0 Al nacer</li>
            <li>1 Al ingreso</li>
            <li>2 Al destete</li>
            <li>3 General (valor predeterminado)</li>
            <li>4 Entrada a servicio</li>
            <li>5 Al Parto</li>
            <li>6 Al secado</li>
            <li>7 A la venta</li>
        </ul>
        <p>Tipo de parto:</p>
        <ul>
            <li>0 Normal (valor predeterminado)</li>
            <li>1 Con ayuda</li>
            <li>2 Distócico</li>
            <li>3 Mortinato</li>
        </ul>
        <p>Tipo de servicio:</p>
        <ul>
            <li>0 Monta natural (valor predeterminado)</li>
            <li>1 Inseminación artificial</li>
            <li>2 Trasplante de embriones</li>
        </ul>
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: Recuerde que a partir de la versión 7 usted puede importar múltiples eventos de manera simultánea y puede crear las plantillas deseadas totalmente ajustadas a sus libros de Excel.
            </div>
        </div>
    </div>
</article>