@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Respaldar datos";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Este procedimiento permite al usuario realizar una copia de seguridad de la base de datos del sistema GanSoft en cualquier unidad seleccionada.
        </p>
        <div class="col-md-12">
            <ul class="index">
                <li>
                    <a href="#Respaldardatos">Respaldar datos</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="Respaldardatos">Respaldar datos</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Se recomienda llevar a cabo cada cierto tiempo de forma tal que mantenga sus datos en una unidad externa con la finalidad de prever cualquier inconveniente con el equipo que pueda afectar sus registros.
                </p>
                <p>
                    El sistema despliega un cuadro de diálogo desde el cual podrá llevar a cabo éste proceso. Debe seleccionar la ubicación destino en la que se desea almacenar el respaldo. Puede ser una unidad Zip, disco externo, Pen Drive o en la memoria del Computador (disco C, Mis documentos, entre otros). Al hacer clic en siguiente, se realizará la copia de seguridad en la ruta previamente indicada. El archivo de respaldo se realizará con el siguiente formato por defecto:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/respaldar_datos_1.jpg" class="thumbnail" data-lightbox="Respaldar datos" data-title="Respaldar datos">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/respaldar_datos_1.jpg" alt="Respaldar datos" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <ul>
            <li>Serial de la Licencia (compuesto por país, programa, año, mes y consecutivo de la licencia)</li>
            <li>Fecha invertida de la realización del respaldo (año, mes y día)</li>
            <li>Hora del respaldo</li>
        </ul>
        <p>Ejemplo: VEGS200611569_20120708_2042</p>
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: En GanSoft 7 las fotos de los animales se guardan en la base de datos y el sistema automáticamente optimiza el tamaño y la calidad de la imagen para minimizar el espacio que ocupa
            </div>
        </div>
    </div>
</article>