@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Configuración";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Al seleccionar ésta opción podrá salir del sistema
        </p>
        <div class="col-md-12">
            <ul class="index">
                <li>
                    <a href="#Salir">Salir</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="Salir">Salir</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Esta opción muestra un mensaje de confirmación el cual deberá presionar si desea salir de GanSoft, presione la opción (no) si desea continuar trabajando con el sistema
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/salir_1.jpg" data-lightbox="Salir" data-title="Salir">
                    <img class="img-responsive" src="~/images/captures/salir_1.jpg" alt="Salir" />
                </a>
                <a href="~/images/captures/salir_2.jpg" data-lightbox="Salir" data-title="Confirmación de salida"></a>
            </div>
        </div>
    </div>
</article>