@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Instalación";
    ViewBag.SubTitle ="";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            El programa de instalación de GanSoft, puede ser descargado directamente desde nuestra página web <a href="https://www.softsupply.com/" target="_blank">https://www.softsupply.com/</a>, o instalado desde un medio externo de almacenamiento (disco óptico o unidad USB).
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Menu">Menú</a>
            </li>
            <li>
                <a href="#Instalador">Instalador</a>
            </li>
            <li>
                <a href="#Comenzar">Comenzar</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Menu">Menú</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    En cualquiera de los casos, una vez iniciado el programa de instalación, se mostrará la
                    siguiente pantalla.
                </p>
                <p>
                    Una vez en la pantalla principal del programa de instalación de GanSoft, haga clic en la
                    opción en GanSoft para comenzar con el programa de instalación.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/GanSoft Pro_1.jpg" class="thumbnail" data-lightbox="autorun" data-title="Menu de instalación">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/GanSoft Pro_1.jpg" alt="Autorun" />
                </a>
            </div>
        </div>
        <h3 id="Instalador">Instalador</h3>
        <div class="row">
            <div class="col-md-8">
                <p> Para confirmar la instalación de GanSoft haga clic en el botón Instalar.</p>
                <p>
                    El programa de instalación de GanSoft comenzará la instalación en su equipo, este proceso
                    puede demorar unos minutos.
                </p>
                <p>
                    En el caso de que el instalador haya sido descargado desde nuestro sitio web, este,
                    descargará automáticamente desde Internet los componentes necesarios por GanSoft
                    antes de proceder con la instalación.
                </p>
                <p>
                    Una vez el programa de instalación finalice de instalar GanSoft y todos los componentes
                    necesarios, podrá ubicar en su escritorio el acceso directo GanSoft (Inicial) y en el menú
                    inicio una carpeta llamada SoftSupply > GanSoft desde donde podrá acceder al sistema.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/GanSoft Pro_2.jpg" class="thumbnail" data-lightbox="instalacion" data-title="Pantalla de bienvenida del instalador">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/GanSoft Pro_2.jpg" alt="Instalación" />
                </a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/GanSoftPro_3.jpg" data-lightbox="instalacion" data-title="Progreso de la instalación"></a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/GanSoftPro_5.jpg" data-lightbox="instalacion" data-title="Finalizada la instalación"></a>
            </div>
        </div>
        <h3 id="Comenzar">Comenzar</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Una vez finalizada la instalación se creará un acceso directo en el escritorio y en el menú inicio llamado "GanSoft (Inicial)".
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/GanSoft Pro_6XL.jpg" class="thumbnail" data-lightbox="comienzo" data-title="Acceso directo del programa GanSoft (Inicial)">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/GanSoft Pro_6.jpg" alt="Configuración" />
                </a>
            </div>
        </div>
    </div>

</article>
