@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Registrando datos por primera vez";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Luego de culminar el proceso de instalación y personalización del sistema, es importante seguir las siguientes recomendaciones para inicializar el registro de sus datos de manera adecuada.
        </p>
    </div>
    @*<div class="col-md-12">
            <ul class="index">
                <li>
                    <a href="#Interfaz">Interfaz</a>
                </li>
                       </ul>
        </div>*@
    <div class="col-md-12">
        @*<h3 id="Interfaz">Interfaz</h3>*@
        <div class="row">
            <div class="col-md-8">
                <p>
                    Seleccione la opción <b>Haciendas</b> Datos Generales, e introduzca los valores correspondientes de las áreas de la hacienda. (No es estrictamente necesario)
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/datos_generales_1.jpg" class="thumbnail" data-lightbox="Datos generales" data-title="Datos generales">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/datos_generales_1.jpg" alt="Datos generales" />
                </a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/datos_generales.jpg" data-lightbox="Datos generales"></a>
            </div>
            <div class="col-md-8">
                <p>
                    Proceda a seleccionar la opción <b>Haciendas</b> Configuración e incorpore los valores iniciales ajustados a su manejo y operación. Puede observar que ya existen valores
                    que fueron introducidos por el proceso de iniciación, haga sólo los ajustes que crea pertinentes de acuerdo a sus necesidades. A través de ésta opción es posible configurar
                    la definición de la forma de operar ciertos archivos, se pueden predeterminar ciertos valores para los cambios de vaquera o lotes, además de establecer valores de comparación
                    y cálculo, entre otros. Para mayor información diríjase al capítulo correspondiente dentro de este manual <b>(Ver Configuración)</b>.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/configuracion_1.jpg" class="thumbnail" data-lightbox="configuracion" data-title="Configuración">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/configuracion_1.jpg" alt="Configuración" />
                </a>
            </div>
            <div class="col-md-8">
                <p>
                    Verifique que en la opción <b>Haciendas</b> Inventario, los valores se encuentren en cero.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <a href="~/Areas/GanSoftPro/Content/img/captures/inventario_1.jpg" class="thumbnail" data-lightbox="Inventario" data-title="Inventario">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/inventario_1.jpg" alt="Inventario" />
                </a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/inventario_2.jpg" data-lightbox="Inventario" data-title="Vista del inventario"></a>
            </div>
            <div class="col-md-8">
                <p>
                    Una parte de la información a ser introducida en los archivos de datos se incluirá de forma codificada, es decir, deben crearse los códigos que van a identificar las vaqueras,
                    la descripción de los colores, razas, los diagnósticos reproductivos, entre otros. Por ello, es conveniente que antes de proceder a incluir los datos de vientres, no vientres, etc.,
                    se diseñe (a través <b>Haciendas</b> Códigos Varios) los códigos que identificarán esta información.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <a href="~/Areas/GanSoftPro/Content/img/captures/hacienda_codigos_1.jpg" class="thumbnail" data-lightbox="Codigos" data-title="Menú códigos">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/hacienda_codigos_1.jpg" alt="Menú códigos" />
                </a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/hacienda_codigos_2.jpg" data-lightbox="Codigos" data-title="Vista de la sección de códigos"></a>
            </div>
            <div class="col-md-8">
                <p>
                    Proceda a <b>Agregar</b> en la opción <b>Registros</b> Reproductores, la información de los reproductores de inseminación artificial, de monta natural y los embriones que esté utilizando
                    o que haya utilizado y desee dejar historia del comportamiento de esos animales. Si un vientre estuviera preñada de un reproductor que no existe en la hacienda, éste último también debe ser incluido
                    en los archivos. (Para mayor información, diríjase al capítulo correspondiente).
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/reproductores.jpg" class="thumbnail" data-lightbox="Reproductores" data-title="Menú de reproductores">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/reproductores.jpg" alt="Menú de reproductores" />
                </a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/reproductores_1.jpg" data-lightbox="Reproductores" data-title="Ventana de reproducción"></a>
            </div>
            <div class="col-md-8">
                <p>
                    En el manejo de la información de los animales, puede observar que, existen dos números para manipular su identificación. El primero consiste en el <b>Código práctico</b>, llamado así porque este número constituye
                    el código de manejo e identificación dentro de la hacienda. Generalmente es el número que el animal lleva en el lomo o en la paleta. El otro código es el denominado <b>Código único</b> y viene a ser como la cédula
                    del animal, es decir, un número irrepetible dentro de la hacienda. De esta manera se garantiza que el árbol genealógico y los datos del animal no se mezclen en sus bases de datos ya que el código único es
                    usado por el programa para guardar los datos en las diferentes tablas de información. Aún cuando la información del animal se introduce accediendo mediante el código práctico.
                </p>
            </div>
            <div class="col-md-8">
                <p>
                    Seleccione la opción <b>Registros</b> Técnicos, realice el mismo procedimiento descrito en el paso anterior y utilice los mismos criterios.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/tecnicos.jpg" class="thumbnail" data-lightbox="Tecnicos" data-title="Menú técnicos">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/tecnicos.jpg" alt="Menú tecnicos" />
                </a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/tecnicos_1.jpg" data-lightbox="Tecnicos" data-title="Ventana técnicos"></a>
            </div>
            <div class="col-md-8">
                <p>
                    Una vez inscritos los reproductores y los técnicos, proceda a <b>Agregar</b> en la opción <b>Registros</b> Vientres, los datos generales de cada una de las vientres existentes en la hacienda. Ya introducidos dichos datos
                    (código práctico, fecha de nacimiento, raza, etc.) diríjase al registro de datos generales del animal, filtre de la lista el animal en cuestión y seleccione la opción <b>Histórico de Reproducción</b> que le permitirá
                    agregar los eventos reproductivos que tenga ese animal. Estos eventos se pueden introducir en cualquier orden pero se recomienda incluir, al menos, la información de todos los partos y todos los eventos posteriores
                    al último parto, tales como servicios, revisiones, etc. Una vez introducida la historia reproductiva del animal, se procede a incluir los pesajes de leche de la última lactancia, presionando el botón <b>Lactancia Actual</b>
                    identificado por el icono de la cántara (para el caso de haciendas lecheras y de doble propósito). Si también desea introducir las lactancias históricas de cada animal, seleccione el botón <b>Histórico de Lactancias</b>.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/vientres.jpg" class="thumbnail" data-lightbox="Vientres" data-title="Menú vientres">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/vientres.jpg" alt="Menú vientres" />
                </a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/vientres_1.jpg" data-lightbox="Vientres" data-title="Ventana de vientres"></a>
            </div>
            <div class="col-md-8">
                <div class="alert alert-info row" role="alert">
                    <div class="col-md-1">
                        <i class="fa fa-5x fa-info"></i>
                    </div>
                    <div class="col-md-10">
                        <strong>Importante!</strong><br />
                        Nota: Si desea iniciar en forma más rápida es posible registrarle a las vacas el último parto que hayan tenido y los
                        eventos reproductivos ocurridos después de ese parto, posteriormente podrá colocar el resto de la información como histórica.
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <p>
                    Una vez registrados los vientres, puede agregar los no vientres existentes en la hacienda desde la opción <b>Registro</b> No Vientres.
                    Muchas personas asumen que al incluir el parto de un vientre queda automáticamente inscrita la cría. Esto es cierto, pero sólo para
                    el caso en que la información sea introducida por la opción <b>Eventos</b> Partos del menú principal. La información de los no vientres
                    puede ir acompañada de los detalles de los pesos corporales, historial clínico, etc. Para mayor información diríjase al capítulo
                    correspondiente (Ver Archivo de Vientres).
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/no_vientres.jpg" class="thumbnail" data-lightbox="Novientres" data-title="Menú no vientres">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/no_vientres.jpg" alt="Menú ingresar animal" />
                </a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/no_vientres_1.jpg" data-lightbox="Novientres" data-title="Ventana para no vientres"></a>
            </div>
            <div class="col-md-8">
                <p>
                    Una vez inicializada la base de datos, todos los nuevos datos a introducir de animales ya inscritos, deben ser incluidos a través 
                    de la opción <b>Eventos</b> del menú principal. Si alguno de los datos introducidos por esta opción no fuera aceptado por el sistema, se 
                    procederá a hacer las correcciones correspondientes en la opción <b>Registros</b> para que dicha información sea aceptada. La opción 
                    Eventos realiza las operaciones de actualización, conteo, cálculos, ajustes en los archivos y muchas otras actualizaciones que no 
                    se efectúan en <b>Archivos</b>.
                </p>
            </div>
        </div>
    </div>
</article>