@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Identificadores electronicos";
    Page.SubTitle = "";
}

<article class="row">
    <div class="col-md-12">
        <p class="row">
            Esta ventana le permite al usuario realizar dos operaciones: asignar el identificador (ID) electrónico y retirarlo.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Identificadoreselectronicos">Identificadores electrónicos</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Identificadoreselectronicos">Identificadores electrónicos</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Asignación de Identificadores Electrónicos: Esta operación sólo puede realizarse animal por animal. Seleccione el estatus del animal (activo, inactivo, referencia) en el registro del animal haciendo doble clic en la casilla del código para seleccionar el animal al cual le será asignado el número de identificador electrónico. Introduzca el número de ID que le será asignado al animal, y presione el icono de guardar
                    que se encuentra ubicado en la barra de botones.
                </p>
                <p>
                    Retirar ID Electrónicos: Esta operación puede realizarse tanto por animal como por lote:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/identificadores_electronicos.jpg" class="thumbnail" data-lightbox="Identificadoreselectronicos" data-title="Menú de identificadores electrónicos">
                    <img class="img-responsive" src="~/images/captures/identificadores_electronicos.jpg" alt="Menú de identificadores electronicos" />
                </a>
                <a href="~/images/captures/identificadores_electronicos_1.jpg" data-lightbox="Identificadoreselectronicos" data-title="Ventana de identificadores electrónicos"></a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Por animal, Indique el código práctico o el código único y presione la tecla enter.
            También puede seleccionar al animal por medio del listado que se despliega situándose en el cuadro de texto del código y presionando la tecla F1
            o haciendo doble clic en el mismo, en éste podrá seleccionar el animal requerido con doble clic o con un clic y presionando la tecla enter.
        </p>
        <p>
            Por grupo, Deberá seleccionar la vaquera en la que se encuentran los animales. Puede seleccionar el estado de animal que será incluido en la búsqueda. Para seleccionarlos sólo debe hacer clic en la casilla correspondiente para que ésta se active. Seguidamente, aparece un listado de los animales encontrados. En la parte superior de este listado, se muestran varias opciones con las que cuenta el usuario para seleccionar los animales.
            Para finalizar la operación debe hace clic en el botón Guardar situado en la barra de botones.
        </p>
    </div>
</article>