@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Buscar animal";
    ViewBag.SubTitle =
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta novedosa ventana permite al usuario buscar un animal por cualquiera de sus códigos (Práctico, Único o Id. Electrónico)
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Buscaranimal">Buscar animal</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Buscaranimal">Buscar animal</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    En cualquier hacienda dispondrá de 3 opciones de búsqueda que son: (Comienza con), (Contiene), (Exacto).
                </p>
                <p>
                    Estas opciones dan una gran versatilidad al usuario a la hora de buscar un animal no importa si está eliminado o si está en otra hacienda, etc.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/buscar_animal_1.jpg" class="thumbnail" data-lightbox="Buscaranimal" data-title="Menú buscar animal">
                    <img class="img-responsive" src="~/images/captures/buscar_animal_1.jpg" alt="Buscar animal" />
                </a>
                <a href="~/images/captures/buscar_animal_2.jpg" data-lightbox="Buscaranimal" data-title="Ventana de busqueda"></a>
            </div>
        </div>
    </div>
</article>