@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Movimientos de inventario";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="row">
            Al seleccionar esta opción visualizará una pantalla con la historia de todos los movimientos de entrada (compras, nacimientos, ajustes positivos) y salida (ventas, muertes, robos, sacrificios, donaciones y ajustes negativos) ocurridos en el inventario de animales de la hacienda.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Movimientosdeinventario">Movimientos de inventario</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Movimientosdeinventario">Movimientos de inventario</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Cada registro contiene el tipo y la fecha de movimiento, el estado del animal y su código único (si no aparece el código es probable que haya sido un movimiento reportado por esta ventana), el número de animales, el comentario del movimiento y el usuario que ingresó la información. Del lado izquierdo de la ventana aparece una lista con los tipos de Movimientos, usted puede seleccionar los que desea ver haciendo clic en la casilla correspondiente y luego en el botón Filtrar.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/movimientos_de_inventario.jpg" class="thumbnail" data-lightbox="Movimientosdeinventarios" data-title="Menú de movimientos">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/movimientos_de_inventario.jpg" alt="Menú de movimientos" />
                </a>
                <a href="~/Areas/GanSoftPro/Content/img/captures/movimientos_de_inventario_1.jpg" data-lightbox="Movimientosdeinventarios" data-title="Ventana de movimientos de inventario"></a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Estos movimientos son los que ocurren en los archivos de Vientres, No Vientres o Reproductores, por haber Eliminado, Trasladado o Convertido un animal. En estos casos el sistema solicita la causa de eliminación o del traslado. También se registran movimientos en forma automática cuando un animal cambia de estado, cuando se registran partos y se incluyen además los movimientos que fueron reportados a través de la categoría Eventos
            , opción Movimientos de Inventario.
        </p>
        <p>
            Estos registros se pueden modificar eliminar
            en esta ventana, el usuario sólo debe utilizar los botones correspondientes ubicados en la parte superior de la ventana. Además, puede agregar
            algún movimiento, en este caso, el sistema no requiere del código único del animal, solamente que se seleccione: el estado del animal, el tipo de movimiento y que se escriba la cantidad de animales que participaron en el movimiento.
        </p>
        <p>
            La lista puede ser ordenada de forma ascendente o descendente, esto se logra haciendo clic en los encabezados del listado en primera instancia aparecerán los listados ordenados en forma ascendente, al hacer clic por segunda vez en el mismo encabezado, la lista aparecerá ordenada de manera descendente. Esto se cumple para todos los encabezados.
        </p>
    </div>
</article>