@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "No vientres";
    Page.SubTitle = "";
}

<article class="row">
    <div class="col-md-12">
        <p class="lead">
            Al ingresar a ésta opción, desde la categoría archivos
            no vientres, es posible visualizar la información de los animales no vientres registrados en la hacienda.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Novientres">No vientres</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Novientres">No vientres</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Los datos que se presentan en ésta ventana se encuentran divididos en secciones descritas a continuación:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/no_vientres.jpg" class="thumbnail" data-lightbox="Novientres" data-title="Menú no vientres">
                    <img class="img-responsive" src="~/images/captures/no_vientres.jpg" alt="Menú ingresar animal" />
                </a>
                <a href="~/images/captures/no_vientres_1.jpg" data-lightbox="Novientres" data-title="Ventana para no vientres"></a>
            </div>
        </div>
        <div class="col-md-6">
            <ul>
                <li> Información General	</li>
                <li> Resumen: Información básica del animal. </li>
                <li> Generales: Información básica del animal. </li>
                <li> Descendientes: Detalles de la genealogía del animal. </li>
                <li> Estadísticas: Promedios estadísticos calculados al animal. </li>
                <li> Hierros: Señales asignadas al animal. </li>
                <li> Históricos comunes</li>
                <li> Vaqueras: Histórico de locaciones en las que ha estado el animal. </li>
                <li> Inventarios: Presenta el detalle de históricos de inventarios del animal. </li>
                <li> Movimientos: Detalla cada uno de los movimientos registrados al animal. </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li> Clínica: Presenta cada uno de los diagnósticos y tratamientos asignados al animal. </li>
                <li> Pesos: Histórico de pesos del animal. </li>
                <li> Condición corporal: Histórico de condiciones corporales del animal. </li>
                <li> Fotografías: Muestra todas las fotografías registradas al animal, indicando la foto activa (solo una, el resto son fotografías referenciales) </li>
                <li> Comentarios: Presenta el histórico de comentarios del animal. </li>
            </ul>
        </div>
    </div>
</article>