@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Trasladar animales";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Desde esta opción es posible realizar el movimiento de un animal de una hacienda a otra
        </p>
        <div class="col-md-12">
            <ul class="index">
                <li>
                    <a href="#Trasladaranimales">Trasladar animales</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="Trasladaranimales">Trasladar animales</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Presenta de manera agrupada cada uno de los módulos del sistema y a través de la cual podemos desplazarnos para ingresar a las opciones y operaciones del sistema
                    a partir de ese momento del inventario de la hacienda destino.
                </p>
                <p>
                    el usuario deberá seleccionar al animal o grupo de animales, especificar los datos del evento, es decir, hacienda destino, fecha del traslado, técnico responsable y comentario.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/trasladar_animales.jpg" class="thumbnail" data-lightbox="Trasladaranimales" data-title="Menú de traslado">
                    <img class="img-responsive" src="~/images/captures/trasladar_animales.jpg" alt="menú de traslado" />
                </a>
                <a href="~/images/captures/trasladar_animales_1.jpg" data-lightbox="Trasladaranimales" data-title="Ventana de traslado"></a>
            </div>
        </div>
    </div>
</article>
