@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Vientres";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta ventana muestra los datos de los Vientres de la hacienda divididos en secciones debidamente clasificadas, y contiene un resumen de los datos productivos y reproductivos más relevantes.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Vientres">Vientres</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Vientres">Vientres</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Por otra lado permite al usuario visualizar de forma individual los siguientes datos del animal:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/vientres.jpg" class="thumbnail" data-lightbox="Vientres" data-title="Menú vientres">
                    <img class="img-responsive" src="~/images/captures/vientres.jpg" alt="Menú vientres" />
                </a>
                <a href="~/images/captures/vientres_1.jpg" data-lightbox="Vientres" data-title="Ventana de vientres"></a>
            </div>
        </div>
        <div class="col-md-6">

            <ul>
                <li>Información General.                                                                                                                           </li>
                <li>Resumen: Información básica del animal.                                                                                                        </li>
                <li>Generales: Información básica del animal.                                                                                                      </li>
                <li>Descendientes: Detalles de la genealogía del animal.                                                                                           </li>
                <li>Estadísticas: Promedios estadísticos calculados al animal.                                                                                     </li>
                <li>Hierros: Señales asignadas al animal.                                                                                                          </li>
                <li>Históricos comunes.                                                                                                                            </li>
                <li>Vaqueras: Histórico de locaciones en las que ha estado el animal.                                                                              </li>
                <li>Inventarios: Presenta el detalle de históricos de inventarios del animal.                                                                      </li>
                <li>Movimientos: Detalla cada uno de los movimientos registrados al animal.                                                                        </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>Clínica: Presenta cada uno de los diagnósticos y tratamientos asignados al animal.                                                             </li>
                <li>Pesos: Histórico de pesos del animal.                                                                                                          </li>
                <li>Condición corporal: Histórico de condiciones corporales del animal.                                                                            </li>
                <li>Fotografías: Muestra todas las fotografías registradas al animal, indicando la foto activa (solo una, el resto son fotografías referenciales)  </li>
                <li>Comentarios: Presenta el histórico de comentarios del animal.                                                                                  </li>
                <li>Históricos según categoría del animal (vientres)                                                                                               </li>
                <li>Reproducción: Presenta el histórico de eventos de reproducción asociados con el animal.                                                        </li>
                <li>Lactancias: Muestra el detalle de las lactancias acumuladas y los pesajes de leche del animal.                                                 </li>
                <li>Mastitis: Detalla cada una de las pruebas de mastitis aplicadas al animal con sus respectivos resultados.                                      </li>
            </ul>
        </div>
    </div>
</article>