@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Reproducción";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta opción permite al usuario ver las estadísticas de reproducción de cada uno de sus animales dentro de la hacienda.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Reproduccion">Reproducción</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Reproduccion">Reproducción</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Para evaluar las estadísticas de reproducción de un animal siga el proceso que se describe a continuación:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/images/captures/reproduccion_estadisticas.jpg" class="thumbnail" data-lightbox="Reproduccion" data-title="Menú de reproducción">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/images/captures/reproduccion_estadisticas.jpg" alt="Menú hierros y señales" />
                </a>
                <a href="~/Areas/GanSoftPro/Content/images/captures/reproduccion_estadisticas_1.jpg" data-lightbox="Reproduccion" data-title="Ventana de reproducción"></a>
            </div>
        </div>
        <p>
            Indicar la forma de agrupar los datos, permite agrupar los datos de los históricos reproductivos de acuerdo a tres formas, usted sólo debe (mediante la lista desplegable) seleccionar entre:
        </p>
    </div>
    <div class="col-md-12">
        <h4>La Composición Racial</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    si selecciona esta opción las estadísticas estarán agrupadas de acuerdo a las diferentes composiciones raciales que estén registradas en el sistema. Los animales que no tengan composición racial, serán agrupados con una composición en blanco.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>El Código único del Padre</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    al seleccionar esta opción, el reporte estará agrupado por el código único de los padres (reproductores) y el total de lactancias que sus hijas tengan registradas.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>El Número del parto</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    si selecciona esta opción el reporte de la estadística estará agrupado, según el número del parto, es decir, todos los primeros partos encontrados serán analizadas de acuerdo a la variable seleccionada y así sucesivamente.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Año de ocurrencia</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Permite establecer como criterio de grupo el año de ocurrencia del parto, de forma tal de que el cálculo de la estadística se realice tomando en cuenta este criterio.
                </p>
            </div>
        </div>
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: Si no se selecciona por cuál parámetro se va a agrupar, el sistema lo agrupará por el año de ocurrencia.
            </div>
        </div>
        <p>
            Seleccionar la raza del grupo de animales a evaluar, puede consultar la ventana de códigos varios presionando el botón ubicado del lado derecho de la casilla. Si desea analizar todas las razas, deje la casilla en blanco.
            Evaluar entre fechas de comienzo de ocurrencia del parto, para ello cuenta con un calendario que lo ayuda en dicho proceso. Coloque una fecha mínima y una fecha tope. Si no establece ninguna fecha el sistema tomará todo el rango de fechas.
            Puede incluir también en la estadística de Producción los animales eliminados
        </p>
        <p>
            Una vez establecidos los criterios correspondientes, puede visualizar la información contenida en el listado haciendo clic en el botón Calcular.
            Seguidamente aparecerá en pantalla una vista preliminar la cual puede imprimir, presionando el botón de la impresora o si lo prefiere puede Exportar dicha información.
        </p>
        <p>
            Puede incluir también en la estadística de reproducción los animales eliminados.
            Seleccione de lista la estadística que desea que el sistema calcule:
        </p>
    </div>
    <div class="col-md-6">
        <ul>
            <li> 1.- Edad al primer servicio – meses.                </li>
            <li> 2.-Edad al primer parto – meses.                    </li>
            <li> 3.- Promedio parto primer celo – días.              </li>
            <li> 4.- Promedio parto primer servicio – días.          </li>
            <li> 5.- Promedio días gestación.                        </li>
            <li> 6.- Promedio parto-concepción – cías.               </li>
            <li> 7.- Promedio parto-parto – días.                    </li>
            <li> 8.- Promedio primer servicio-concepción – días.     </li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li> 9.- Promedio días entre celos.                      </li>
            <li> 10.- Promedio días entre revisiones.                </li>
            <li> 11.- Promedio de inseminaciones por concepción.     </li>
            <li> 12.- Promedio de montas por concepción.             </li>
            <li> 13.- Promedio de trasplantes por concepción.       </li>
            <li> 14.- Promedio de servicios por concepción.          </li>
            <li> 15.- Promedio de revisiones entre partos.           </li>
        </ul>
    </div>
    <div class="col-md-12">
        <p>
            Los resultados obtenidos los puede visualizar en forma de datos o de gráfica. Adicionalmente, presenta los totales en la parte inferior y los resultados de distribución normal para
            la curva, el cual incluye un enlace directo al reporte de animales que entran en cada categoría de los valores obtenidos. Esto le permitirá hacer un seguimiento a los animales
            que se encuentren a los extremos de la curva o en cualquier parte de ella.
        </p>
    </div>
</article>