@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Cierres";
    Page.SubTitle = "";
}

<article class="row">
    <div class="col-md-12">
        <p class="lead">
            Esta ventana permite visualizar los cierres tanto mensuales como anuales del sistema.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Cierres">Cierres</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Cierres">Cierres</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Para ello, debe seleccionar de las listas, el mes y el año que desea visualizar. El sistema efectúa automáticamente los cierres mensuales al culminar un mes e introducir datos del mes siguiente.
                </p>
                <p>
                    Las variables resultantes del cálculo del cierre mensual se van archivando y configurando para constituir la historia de los cierres mensuales dando lugar a la posibilidad de imprimir la información de los cierres de fechas anteriores y también la posibilidad de ver el comportamiento, en forma gráfica, de cualquier variable de las calculadas en el cierre.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/cierres_estadisticas.jpg" class="thumbnail" data-lightbox="Cierres" data-title="Menú de cierres">
                    <img class="img-responsive" src="~/images/captures/cierres_estadisticas.jpg" alt="Menú de cierres" />
                </a>
                <a href="~/images/captures/cierres_estadisticas_1.jpg" data-lightbox="Cierres" data-title="Ventana de cierres"></a>
            </div>
        </div>
        <p>
            Seleccione el mes y el año que desea observar de la lista desplegable. La ventana cuenta con 2 listas desplegables que permiten al usuario seleccionar la dimensión y variable a visualizar en la gráfica. Igualmente, puede seleccionar ver la gráfica del comportamiento en el periodo de tiempo de meses y años de acuerdo a las opciones presentadas.
        </p>
        <p>
            También puede imprimir el detalle de los resultados del cierre seleccionado y haga clic en el botón imprimir ubicado en la barra de botones. Seguidamente aparecerá en pantalla una vista preliminar la cual puede imprimir, presionando el ícono de la impresora o si lo prefiere puede Exportar dicha información.
        </p>
    </div>
</article>