@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Acerca de";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            A través de esta opción es posible desplegar una nueva ventana que contiene las especificaciones de la versión, así como también los créditos del diseño
            del sistema GanSoft y los derechos reservados del software.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Acerdade">Acerca de</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Acercade">Acerca de</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Una vez visualizada la información que se presenta en la ventana, presione el botón Aceptar para regresar a la pantalla principal de GanSoft
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/acerca_de.jpg" class="thumbnail" data-lightbox="Acercade" data-title="Ayuda">
                    <img class="img-responsive" src="~/images/captures/acerca_de.jpg" alt="Ayuda" />
                </a>
                <a href="~/images/captures/acerca_de_1.jpg" data-lightbox="Acercade" data-title="Ventana de ayuda"></a>
            </div>
        </div>
        <p>
            Una vez visualizada la información que se presenta en la ventana, presione el botón Aceptar para regresar a la pantalla principal de GanSoft
        </p>
    </div>
</article>