@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Comentarios";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}
<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Si el usuario posee conexión a Internet, por medio de esta opción podrá enviar un correo electrónico (utilizando el Outlook) a info@softsupply.com
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Enviarcomentarios">Enviar comentarios</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Enviarcomentarios">Enviar comentarios</h3>
        <div class="row">
            <div class="col-md-12">
                <p>
                    para obtener soporte técnico, enviar comentarios, sugerencias o solicitar cualquier asesoría.
                </p>
            </div>
        </div>
    </div>
</article>