@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Barra de Navegación";
    Page.SubTitle = "Opciones del menú ver";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Presenta un cuadro de búsqueda a través del cual es posible filtrar la información contenida en la ventana activa. Esto nos facilita la búsqueda de registros específicos.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>
