@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Barra de Estado";
    Page.SubTitle = "Opciones del menú ver";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Muestra detalles de la sesión activa como el usuario, haciendo y avisos activos.  Asimismo, en esta barra puede visualizar el serial que identifica su licencia. Podrá llevar a cabo el cierre de sesión (cambiar de usuario) de una forma más rápida, para ello, deberá hacer doble clic en el nombre de usuario activo que se muestra en la barra de estado y se desplegará la ventana correspondiente en la que deberá escribir su nombre de usuario y contraseña.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/barra_de_estado_ver.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/barra_de_estado_ver.jpg" alt="Barra de estado" />
        </a>
    </div>
</div>
