@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Producción";
    Page.SubTitle = "";
}

<article class="row">
    <div class="col-md-12">
        <p class="lead">
            Con esta opción, el usuario podrá evaluar variables relacionadas con la producción del rebaño y en cada caso podrá observar los siguientes estadísticos básicos: Número de Elementos, Valor Promedio, Desviación Estándar, mínimo y máximo.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Produccion">Producción</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Produccion">Producción</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Para lograr una correcta interpretación de las estadísticas, es importante que el usuario tome en cuenta que el elemento que se evalúa son las lactancias que se encuentran el histórico de lactancias y que debe considerar la forma en la que se agrupan los datos. Con los datos almacenados en el histórico mencionado, el programa podrá calcular las variables las siguientes:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/images/captures/produccion_estadisticas.jpg" class="thumbnail" data-lightbox="Produccion" data-title="Menú producción">
                    <img class="img-responsive" src="~/images/captures/produccion_estadisticas.jpg" alt="Menú producción" />
                </a>
                <a href="~/images/captures/produccion_estadisticas_1.jpg" data-lightbox="Produccion" data-title="Ventana de produccion"></a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <ul>
            <li> Promedio Días en Producción               </li>
            <li> Promedio de Producción Total              </li>
            <li> Promedio de Producción a los 244 días     </li>
            <li> Promedio de Producción a los 270 días     </li>
            <li> Promedio de Producción a los 305 días     </li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li> Promedio de Producción entre Partos       </li>
            <li> Promedio de Producción entre lactancias   </li>
            <li> Promedio Días Seca                        </li>
            <li> Promedio de Ganancias entre Partos        </li>
        </ul>
    </div>
    <div class="col-md-12">
        <p>
            Para realizar una evaluación sólo debe establecer los criterios, luego la variable deseada y hacer clic en el botón de calcular.
        </p>
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: Al secar una vaca, los datos de esa lactancia participan para el cálculo de los promedios de estadísticas de producción.
            </div>
        </div>
        <p>
            Para establecer algunas o todos los criterios que el programa presenta, siga estos pasos:
        </p>
        <p>
            Indicar la forma de agrupar los datos, realiza lo que su nombre indica, agrupa los datos de las lactancias de acuerdo a tres formas, usted sólo debe (mediante la lista desplegable) seleccionar entre:
        </p>
    </div>
    <div class="col-md-12">
        <h4>La composición racial</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Si selecciona esta opción las estadísticas estarán agrupadas de acuerdo a las diferentes composiciones raciales que estén registradas en el sistema. Los animales que no tengan composición racial, serán agrupados con una composición en blanco.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>El código único del padre</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Al seleccionar esta opción, el reporte estará agrupado por el código único de los padres (reproductores) y el total de lactancias que sus hijas tengan registradas.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>El número de lactancia</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Si selecciona esta opción el reporte de la estadística estará agrupado, según el número de la lactancia, es decir todas las lactancias número 1 que se hayan encontrado serán analizadas de acuerdo a la variable que escoja y así sucesivamente.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Año de comienzo de la lactancia</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Permite establecer como criterio de grupo el año de comienzo de la lactancia, de forma tal de que el cálculo de la estadística se realice tomando en cuenta este criterio.
                </p>
            </div>
        </div>
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: Si no se selecciona por cuál parámetro se va a agrupar, el sistema lo agrupará por el año de comienzo de la lactancia. Esta nueva manera de imprimir de forma agrupada por alguna de estas opciones le da al usuario posibilidades amplias para evaluar la cantidad de lactancias (cuando se agrupa por el número de lactancia), los grupos raciales (cuando se agrupa por la composición racial), el comportamiento de los toros en sus diferentes descendencias (cuando se agrupa por el código del padre) y las lactancias presentadas en un año (cuando se agrupa por año de comienzo de la lactancia).
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <p>
            Seleccionar la raza del grupo de animales a evaluar, puede consultar la ventana de Códigos Varios presionando el botón ubicado del lado derecho de la casilla. Si desea analizar todas las razas, deje la casilla en blanco.
            Evaluar entre fechas de comienzo de lactancia, para ello cuenta con un calendario que lo ayuda en dicho proceso. Coloque una fecha mínima y una fecha tope. Si no establece ninguna fecha el sistema tomará todo el rango de fechas.
            Puede incluir también en la estadística de Producción los animales eliminados.
        </p>
        <p>
            Una vez establecidos los criterios correspondientes, puede visualizar la información contenida en el listado haciendo clic en el botón Calcular.
            Seguidamente aparecerá en pantalla una vista preliminar la cual puede imprimir, presionando el botón de la impresora o si lo prefiere puede Exportar dicha información.
        </p>
        <p>
            Los resultados obtenidos los puede visualizar en forma de datos o de gráfica. Adicionalmente, presenta los totales en la parte inferior y los resultados de distribución normal para la curva, el cual incluye un enlace directo al reporte de animales que entran en cada categoría de los valores obtenidos. Esto le permitirá hacer un seguimiento a los animales que se encuentren a los extremos de la curva o en cualquier parte de ella.
        </p>
    </div>
</article>