@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Mapa de Navegación";
    Page.SubTitle = "Estructura de navegacipon del sistema";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Al ingresar al sistema pueden visualizarse diferentes barras y menús que nos permiten interactuar con el sistema, personalizarlo y realizar todas las operaciones deseadas. Cada uno de los elementos que forman parte de la ventana principal del programa se describen a continuación:<br />
                    <br /> •	Barra de Título: Presenta el nombre de la aplicación o ventana activa. <br />
•	Barra de Menú: Presenta de manera agrupada cada uno de los módulos del sistema y a través de la cual podemos desplazarnos para ingresar a las opciones y operaciones del sistema.<br />
•	Barra de Botones: Muestra de forma gráfica los botones que nos permiten tener acceso rápido a las opciones utilizadas con mayor frecuencia como imprimir, desplazarnos entre los registros, organizar la ventana de navegación, entre otros.<br />
•	Barra de Navegación: Presenta un cuadro de búsqueda a través del cual es posible filtrar la información contenida en la ventana activa. Esto nos facilita la búsqueda de registros específicos.<br />
•	Barra de Estado: Muestra detalles de la sesión activa como el usuario, haciendo y avisos activos.<br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/images/captures/distribucion_inventario.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/images/captures/distribucion_inventario.jpg" alt="Distribucion" />
            <a href="~/images/captures/distribucion_estatus_reproductivo.jpg" data-lightbox="roadtrip">Reproductivo</a>
            <a href="~/images/captures/distribucion_lotes.jpg" data-lightbox="roadtrip">Lotes</a>
            <a href="~/images/captures/distribucion_productivo.jpg" data-lightbox="roadtrip">Productivo</a>
        </a>
    </div>
</div>