@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Acerca de.";
    Page.SubTitle = "Opciones del menú ayuda";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>
                    A través de esta opción es posible desplegar una nueva ventana que contiene las especificaciones de la versión, así como también los créditos del diseño del sistema GanSoft y los derechos reservados del software.
                </p>
                <p>
                    Una vez visualizada la información que se presenta en la ventana, presione el botón Aceptar para regresar a la pantalla principal de GanSoft
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <a href="~/Areas/GanSoftPro/Content/images/captures/acerca_de.jpg" data-lightbox="roadtrip" data-title="">
            <img class="img-responsive" src="~/Areas/GanSoftPro/Content/images/captures/acerca_de.jpg" alt="Acerca de" />
            <a href="~/Areas/GanSoftPro/Content/images/captures/acerca_de_1.jpg" data-lightbox="roadtrip"></a>
        </a>
    </div>
</div>
